// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace ActivitiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ActivitiesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActivitiesClient.Options>;

    constructor(options: ActivitiesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List of activities belonging to user profile.
     *
     * Activities represent snapshots of performed actions and can be filtered by various parameters to narrow down the results.
     *
     * @param {Wise.ListActivitiesRequest} request
     * @param {ActivitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.activities.list({
     *         profileId: BigInt("1000000"),
     *         since: "2025-03-10T11:56:30Z",
     *         until: "2025-03-30T23:59:59Z",
     *         nextCursor: ""
     *     })
     */
    public list(
        request: Wise.ListActivitiesRequest,
        requestOptions?: ActivitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ListActivitiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.ListActivitiesRequest,
        requestOptions?: ActivitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ListActivitiesResponse>> {
        const { profileId, monetaryResourceType, status, since, until, nextCursor, size } = request;
        const _queryParams: Record<string, unknown> = {
            monetaryResourceType: monetaryResourceType != null ? monetaryResourceType : undefined,
            status: status != null ? status : undefined,
            since: since != null ? since : undefined,
            until: until != null ? until : undefined,
            nextCursor,
            size,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/activities`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.ListActivitiesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/activities",
        );
    }
}
