// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace BatchGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BatchGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BatchGroupsClient.Options>;

    constructor(options: BatchGroupsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a new batch group.
     *
     * A batch group can hold up to 1000 transfers that will be funded together. After creating the group, add transfers to it, then complete the group to receive pay-in details.
     *
     * @param {Wise.CreateBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.create({
     *         profileId: BigInt("12345678"),
     *         sourceCurrency: "GBP",
     *         name: "My batch group"
     *     })
     */
    public create(
        request: Wise.CreateBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.BatchGroup> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.CreateBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.BatchGroup>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.BatchGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/batch-groups",
        );
    }

    /**
     * Get an existing batch group by ID.
     *
     * @param {Wise.GetBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.get({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88"
     *     })
     */
    public get(
        request: Wise.GetBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.BatchGroup> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.BatchGroup>> {
        const { profileId, batchGroupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups/${core.url.encodePathParam(batchGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.BatchGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/batch-groups/{batchGroupId}",
        );
    }

    /**
     * Update a batch group's status to complete or cancel it.
     *
     * **Complete a batch group:** Set `status` to `COMPLETED` to close the group for modifications and allow funding to proceed. Once completed, `payInDetails` will be populated with funding instructions.
     *
     * **Cancel a batch group:** Set `status` to `CANCELLED` to cancel all transfers in the batch. Only batches that are not funded can be cancelled. Cancellation is final and cannot be undone.
     *
     * The `version` parameter is required for concurrency control. The operation will be rejected if the provided version does not match the server's current version.
     *
     * @param {Wise.UpdateBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.update({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88",
     *         status: "COMPLETED",
     *         version: BigInt("1234")
     *     })
     */
    public update(
        request: Wise.UpdateBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.BatchGroup> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Wise.UpdateBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.BatchGroup>> {
        const { profileId, batchGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups/${core.url.encodePathParam(batchGroupId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.BatchGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/profiles/{profileId}/batch-groups/{batchGroupId}",
        );
    }

    /**
     * Create a transfer in the batch group using a previously created recipient account and quote.
     *
     * For the request body format, see [transfer creation](/api-reference/transfer#create). For quote and recipient creation, see [quote creation](/api-reference/quote/quotecreate) and [recipient creation](/api-reference/recipient/recipientcreate).
     *
     * @param {Wise.CreateTransferBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.createTransfer({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88",
     *         targetAccount: BigInt("67890"),
     *         quoteUuid: "bd244a95-dcf8-4c31-aac8-bf5e2f3e54c0",
     *         customerTransactionId: "a]1b2c3d4-e5f6-7890-abcd-ef1234567890"
     *     })
     */
    public createTransfer(
        request: Wise.CreateTransferBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__createTransfer(request, requestOptions));
    }

    private async __createTransfer(
        request: Wise.CreateTransferBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { profileId, batchGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups/${core.url.encodePathParam(batchGroupId)}/transfers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/batch-groups/{batchGroupId}/transfers",
        );
    }

    /**
     * Funds all transfers in a batch group from a multi-currency account balance. Transfers are paid out immediately.
     *
     * The batch group must first be completed and there must be enough funds in the account for the whole batch. Otherwise, an insufficient funds error is returned.
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.FundBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.fund({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88",
     *         type: "BALANCE"
     *     })
     */
    public fund(
        request: Wise.FundBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.FundBatchGroupsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fund(request, requestOptions));
    }

    private async __fund(
        request: Wise.FundBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.FundBatchGroupsResponse>> {
        const { profileId, batchGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-payments/${core.url.encodePathParam(batchGroupId)}/payments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.FundBatchGroupsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/batch-payments/{batchGroupId}/payments",
        );
    }

    /**
     * Funds all transfers in a batch group via direct debit. The batch group must be in the `COMPLETED` state.
     *
     * To use this funding method, you must link an external bank account first. See [direct debit account creation](/api-reference/direct-debit-account/directdebitaccountcreate) for more information.
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.CreatePaymentInitiationBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.createPaymentInitiation({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88",
     *         type: "DIRECT_DEBIT",
     *         accountId: BigInt("1")
     *     })
     */
    public createPaymentInitiation(
        request: Wise.CreatePaymentInitiationBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.PaymentInitiation> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentInitiation(request, requestOptions));
    }

    private async __createPaymentInitiation(
        request: Wise.CreatePaymentInitiationBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.PaymentInitiation>> {
        const { profileId, batchGroupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups/${core.url.encodePathParam(batchGroupId)}/payment-initiations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.PaymentInitiation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/batch-groups/{batchGroupId}/payment-initiations",
        );
    }

    /**
     * Get payment initiation info by ID. In addition to [webhooks](/api-reference/webhook-event/eventbatchpaymentinitiationsstatechange), this endpoint can be used for polling the status of a payment initiation.
     *
     * @param {Wise.GetPaymentInitiationBatchGroupsRequest} request
     * @param {BatchGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.batchGroups.getPaymentInitiation({
     *         profileId: BigInt("12345678"),
     *         batchGroupId: "54a6bc09-cef9-49a8-9041-f1f0c654cd88",
     *         paymentInitiationId: BigInt("12345")
     *     })
     */
    public getPaymentInitiation(
        request: Wise.GetPaymentInitiationBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.PaymentInitiation> {
        return core.HttpResponsePromise.fromPromise(this.__getPaymentInitiation(request, requestOptions));
    }

    private async __getPaymentInitiation(
        request: Wise.GetPaymentInitiationBatchGroupsRequest,
        requestOptions?: BatchGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.PaymentInitiation>> {
        const { profileId, batchGroupId, paymentInitiationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/batch-groups/${core.url.encodePathParam(batchGroupId)}/payment-initiations/${core.url.encodePathParam(paymentInitiationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.PaymentInitiation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/batch-groups/{batchGroupId}/payment-initiations/{paymentInitiationId}",
        );
    }
}
