// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace StatementsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StatementsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StatementsClient.Options>;

    constructor(options: StatementsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a statement for the specified balance account.
     *
     * The response format depends on the URL path:
     * - `statement.json` - JSON format
     * - `statement.csv` - CSV format
     * - `statement.pdf` - PDF format (includes Wise branding)
     * - `statement.xlsx` - Excel format
     * - `statement.xml` - CAMT.053 XML format
     * - `statement.mt940` - MT940 format
     * - `statement.qif` - QIF format
     *
     * The period between `intervalStart` and `intervalEnd` cannot exceed 469 days (around 1 year 3 months).
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * This additional authentication is only required once every 90 days.
     *
     * Note that viewing the statement on the website or in the mobile app also requires SCA.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.GetStatementsRequest} request
     * @param {StatementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.statements.get({
     *         profileId: BigInt("1000000"),
     *         balanceId: BigInt("1000000"),
     *         currency: "EUR",
     *         intervalStart: "2025-03-01T00:00:00Z",
     *         intervalEnd: "2025-04-30T23:59:59Z",
     *         statementLocale: "en"
     *     })
     */
    public get(
        request: Wise.GetStatementsRequest,
        requestOptions?: StatementsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetStatementsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetStatementsRequest,
        requestOptions?: StatementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetStatementsResponse>> {
        const { profileId, balanceId, currency, intervalStart, intervalEnd, type: type_, statementLocale } = request;
        const _queryParams: Record<string, unknown> = {
            currency,
            intervalStart,
            intervalEnd,
            type: type_ != null ? type_ : undefined,
            statementLocale,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balance-statements/${core.url.encodePathParam(balanceId)}/statement.json`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.GetStatementsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/balance-statements/{balanceId}/statement.json",
        );
    }

    /**
     * Download one of the statement formats documented at https://docs.wise.com/api-reference/balance-statement. Query parameters and errors match the JSON statement endpoint. XML uses CAMT.053.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     */
    public download(
        request: Wise.DownloadStatementsRequest,
        requestOptions?: StatementsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(request, requestOptions));
    }

    private async __download(
        request: Wise.DownloadStatementsRequest,
        requestOptions?: StatementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const {
            profileId,
            balanceId,
            format,
            currency,
            intervalStart,
            intervalEnd,
            type: type_,
            statementLocale,
        } = request;
        const _queryParams: Record<string, unknown> = {
            currency,
            intervalStart,
            intervalEnd,
            type: type_ != null ? type_ : undefined,
            statementLocale,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balance-statements/${core.url.encodePathParam(balanceId)}/statement.${core.url.encodePathParam(format)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/balance-statements/{balanceId}/statement./{format}",
        );
    }
}
