// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";
import { HoldLimitBreachesClient } from "../resources/holdLimitBreaches/client/Client.js";

export declare namespace BalancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BalancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BalancesClient.Options>;
    protected _holdLimitBreaches: HoldLimitBreachesClient | undefined;

    constructor(options: BalancesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get holdLimitBreaches(): HoldLimitBreachesClient {
        return (this._holdLimitBreaches ??= new HoldLimitBreachesClient(this._options));
    }

    /**
     * Retrieves the user's multi-currency account balance accounts. Returns all balance accounts the profile has in the types specified.
     *
     * The `types` parameter must include at least one type. To return more than one type, comma-separate the values.
     *
     * @param {Wise.ListBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.list({
     *         profileId: BigInt("1000000"),
     *         types: "STANDARD"
     *     })
     */
    public list(
        request: Wise.ListBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Balance[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.ListBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Balance[]>> {
        const { profileId, types } = request;
        const _queryParams: Record<string, unknown> = {
            types,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balances`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Balance[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/balances",
        );
    }

    /**
     * Opens a balance within the specified profile, in the currency and type specified in the request.
     *
     * For `STANDARD` balances, only one can be created per currency. For `SAVINGS` balances, multiple in the same currency can be opened.
     *
     * When creating a `SAVINGS` type balance, a `name` is required.
     *
     * @param {Wise.CreateBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.create({
     *         "X-idempotence-uuid": "X-idempotence-uuid",
     *         profileId: BigInt("1000000"),
     *         currency: "EUR",
     *         type: "STANDARD"
     *     })
     */
    public create(
        request: Wise.CreateBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Balance> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.CreateBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Balance>> {
        const { profileId, "X-idempotence-uuid": idempotenceUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-idempotence-uuid": idempotenceUuid,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balances`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Balance, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/balances",
        );
    }

    /**
     * Returns a balance based on the specified balance ID.
     *
     * @param {Wise.GetBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.get({
     *         profileId: BigInt("1000000"),
     *         balanceId: BigInt("1000000")
     *     })
     */
    public get(
        request: Wise.GetBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Balance> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Balance>> {
        const { profileId, balanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balances/${core.url.encodePathParam(balanceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Balance, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/balances/{balanceId}",
        );
    }

    /**
     * Closes a balance account for the user's profile.
     *
     * Balance accounts must have a zero balance to be closed. Bank account details for the balance will also be deactivated and may not be restored.
     *
     * @param {Wise.DeleteBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.delete({
     *         profileId: BigInt("1000000"),
     *         balanceId: BigInt("1000000")
     *     })
     */
    public delete(
        request: Wise.DeleteBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wise.DeleteBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, balanceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balances/${core.url.encodePathParam(balanceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/profiles/{profileId}/balances/{balanceId}",
        );
    }

    /**
     * This endpoint allows conversion and movement of funds between balance accounts.
     *
     * **Convert across balance accounts:**
     * Convert funds between two `STANDARD` balance accounts in different currencies. Requires a quote created with `"payOut": "BALANCE"`.
     *
     * **Move money between balances:**
     * - Add money to a same-currency jar (move from `STANDARD` to `SAVINGS` without conversion)
     * - Add money to another-currency jar (convert money using a quote)
     * - Withdraw money from a jar (move from `SAVINGS` to `STANDARD` without conversion)
     *
     * Either `amount` or `quoteId` is required. Use `quoteId` for cross-currency movements.
     *
     * @param {Wise.MoveBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.move({
     *         "X-idempotence-uuid": "X-idempotence-uuid",
     *         profileId: BigInt("1000000"),
     *         quoteId: "00000000-0000-0000-0000-000000000000"
     *     })
     *
     * @example
     *     await client.balances.move({
     *         "X-idempotence-uuid": "X-idempotence-uuid",
     *         profileId: BigInt("1000000"),
     *         sourceBalanceId: BigInt("1"),
     *         targetBalanceId: BigInt("2"),
     *         amount: {
     *             value: 100,
     *             currency: "EUR"
     *         }
     *     })
     */
    public move(
        request: Wise.MoveBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.MoveBalancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__move(request, requestOptions));
    }

    private async __move(
        request: Wise.MoveBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.MoveBalancesResponse>> {
        const { profileId, "X-idempotence-uuid": idempotenceUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-idempotence-uuid": idempotenceUuid,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balance-movements`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.MoveBalancesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/balance-movements",
        );
    }

    /**
     * Returns the deposit limit for a profile based on regulatory requirements.
     *
     * Useful for personal profiles located in countries that have hold limits. We advise calling this API before depositing money into an account if the profile is located in Singapore or Malaysia.
     *
     * @param {Wise.GetCapacityBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.getCapacity({
     *         profileId: BigInt("1000000"),
     *         currency: "SGD"
     *     })
     */
    public getCapacity(
        request: Wise.GetCapacityBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetCapacityBalancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCapacity(request, requestOptions));
    }

    private async __getCapacity(
        request: Wise.GetCapacityBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetCapacityBalancesResponse>> {
        const { profileId, currency } = request;
        const _queryParams: Record<string, unknown> = {
            currency,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/balance-capacity`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.GetCapacityBalancesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/balance-capacity",
        );
    }

    /**
     * If a balance goes over the regulatory hold limit, excess funds are automatically moved to another account at the end of the day.
     *
     * Use this endpoint to specify a recipient where excess money will be transferred.
     *
     * Primarily used for Singapore and Malaysia customers.
     *
     * @param {Wise.GetExcessMoneyAccountBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.getExcessMoneyAccount({
     *         profileId: BigInt("1000000"),
     *         recipientId: BigInt("148393305")
     *     })
     */
    public getExcessMoneyAccount(
        request: Wise.GetExcessMoneyAccountBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetExcessMoneyAccountBalancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getExcessMoneyAccount(request, requestOptions));
    }

    private async __getExcessMoneyAccount(
        request: Wise.GetExcessMoneyAccountBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetExcessMoneyAccountBalancesResponse>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/excess-money-account`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetExcessMoneyAccountBalancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/excess-money-account",
        );
    }

    /**
     * Provides an overview of your account's total valuation and available liquidity across all balances.
     *
     * Returns total worth, total available (including overdraft), total cash, and overdraft details.
     *
     * #### Example (Assuming GBP and USD has 1:1 exchange rate)
     *
     * | Scenario                                 | GBP balance | USD balance | Total Worth | Total Available | Overdraft Usage | Overdraft Limit |
     * | ---------------------------------------- | ----------- | ----------- | ----------- | --------------- | --------------- | --------------- |
     * | Positive account value with no overdraft | 2000        | 0           | 2000        | 2000            | 0               | 0               |
     * | Positive account value with overdraft    | 2000        | -100        | 1900        | 2400            | 100             | 500             |
     * | Negative account value with overdraft    | 0           | -100        | -100        | 400             | 100             | 500             |
     *
     * @param {Wise.GetTotalFundsBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.balances.getTotalFunds({
     *         profileId: BigInt("1000000"),
     *         currency: "EUR"
     *     })
     */
    public getTotalFunds(
        request: Wise.GetTotalFundsBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetTotalFundsBalancesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTotalFunds(request, requestOptions));
    }

    private async __getTotalFunds(
        request: Wise.GetTotalFundsBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetTotalFundsBalancesResponse>> {
        const { profileId, currency } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/total-funds/${core.url.encodePathParam(currency)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.GetTotalFundsBalancesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/total-funds/{currency}",
        );
    }
}
