// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace VerificationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * {% admonition type="warning" %}
 *     This endpoint is being deprecated. Use [KYC review endpoints](/guides/product/kyc/wise-kyc/api-hybrid-kyc) to verify your customers.
 *     {% /admonition %}
 *
 * In certain situations, additional evidence is required to verify customers and ensure we’re compliant with the KYC regulations.
 *
 * Additional Verification APIs support a list of evidences that can be found in the [Supported Evidences guide](/guides/product/kyc/partner-kyc/supported-evidences).
 *
 * If you use the [Customer Account with Partner KYC](/guides/product/kyc/partner-kyc) model and your customers are primarily based in the EU,
 * refer to this [Onboarding EU customers](/guides/product/kyc/partner-kyc/additional-verification#onboarding-eu-customers) guide
 * for instructions on how to use these APIs.
 *
 */
export class VerificationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerificationClient.Options>;

    constructor(options: VerificationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Uploads verification evidence for a specific profile.
     *
     * The request body varies significantly between **Personal** and **Business** profiles.
     *
     * Submitting an evidence that was already uploaded will result in an attempt to update the evidence.
     *
     * @param {Wise.UploadEvidenceVerificationRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.ForbiddenError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.verification.uploadEvidence({
     *         profileId: BigInt("1000000"),
     *         accountPurpose: "MOVING_SAVINGS",
     *         intendedCountries: ["deu", "esp"],
     *         yearlyAnticipatedVolume: "0_2350",
     *         mainSourceOfIncome: "SALARY",
     *         annualIncome: "0_11500"
     *     })
     */
    public uploadEvidence(
        request: Wise.UploadEvidenceVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__uploadEvidence(request, requestOptions));
    }

    private async __uploadEvidence(
        request: Wise.UploadEvidenceVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/additional-verification/upload-evidences`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wise.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/additional-verification/upload-evidences",
        );
    }

    /**
     * Uploads verification documents for review. You can upload multiple files at once.
     *
     * A valid document must fulfil these requirements:
     *
     * - The document must be clear.
     * - The document needs to be a .jpg, .png., or .pdf file type up to 10MB in size.
     *
     * @param {Wise.UploadDocumentVerificationRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.ForbiddenError}
     * @throws {@link Wise.ConflictError}
     * @throws {@link Wise.ContentTooLargeError}
     * @throws {@link Wise.UnsupportedMediaTypeError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.verification.uploadDocument({
     *         files: fs.createReadStream("/path/to/your/file"),
     *         profileId: BigInt("1000000"),
     *         documentType: "SOURCE_OF_WEALTH"
     *     })
     */
    public uploadDocument(
        request: Wise.UploadDocumentVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__uploadDocument(request, requestOptions));
    }

    private async __uploadDocument(
        request: Wise.UploadDocumentVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _body = await core.newFormData();
        await _body.appendFile("files", request.files);
        _body.append("documentType", request.documentType);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(request.profileId)}/verification-status/upload-document`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wise.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Wise.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 413:
                    throw new Wise.ContentTooLargeError(_response.error.body as unknown, _response.rawResponse);
                case 415:
                    throw new Wise.UnsupportedMediaTypeError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/verification-status/upload-document",
        );
    }

    /**
     * Fetches the required evidences for a profile to complete additional customer verification.
     *
     * If one or more evidences are returned, the customer should submit those evidences using the upload-evidences endpoint.
     *
     * See the [Supported Evidences guide](/guides/product/kyc/partner-kyc/supported-evidences) for the list of possible evidence types and how to submit them.
     *
     * @param {Wise.GetRequiredEvidenceVerificationRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.ForbiddenError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.verification.getRequiredEvidence({
     *         profileId: BigInt("1000000")
     *     })
     */
    public getRequiredEvidence(
        request: Wise.GetRequiredEvidenceVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetRequiredEvidenceVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRequiredEvidence(request, requestOptions));
    }

    private async __getRequiredEvidence(
        request: Wise.GetRequiredEvidenceVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetRequiredEvidenceVerificationResponse>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/verification-status/required-evidences`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetRequiredEvidenceVerificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wise.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/verification-status/required-evidences",
        );
    }
}
