// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";
import { DeviceFingerprintsClient } from "../resources/deviceFingerprints/client/Client.js";
import { FacemapsClient } from "../resources/facemaps/client/Client.js";
import { OtpClient } from "../resources/otp/client/Client.js";
import { PinClient } from "../resources/pin/client/Client.js";
import { SessionsClient } from "../resources/sessions/client/Client.js";

export declare namespace ScaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScaClient.Options>;
    protected _otp: OtpClient | undefined;
    protected _pin: PinClient | undefined;
    protected _deviceFingerprints: DeviceFingerprintsClient | undefined;
    protected _facemaps: FacemapsClient | undefined;
    protected _sessions: SessionsClient | undefined;

    constructor(options: ScaClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get otp(): OtpClient {
        return (this._otp ??= new OtpClient(this._options));
    }

    public get pin(): PinClient {
        return (this._pin ??= new PinClient(this._options));
    }

    public get deviceFingerprints(): DeviceFingerprintsClient {
        return (this._deviceFingerprints ??= new DeviceFingerprintsClient(this._options));
    }

    public get facemaps(): FacemapsClient {
        return (this._facemaps ??= new FacemapsClient(this._options));
    }

    public get sessions(): SessionsClient {
        return (this._sessions ??= new SessionsClient(this._options));
    }

    /**
     * Retrieve necessary information to clear a OTT.
     *
     * @param {Wise.GetOneTimeTokenStatusScaRequest} request
     * @param {ScaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.getOneTimeTokenStatus({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public getOneTimeTokenStatus(
        request: Wise.GetOneTimeTokenStatusScaRequest,
        requestOptions?: ScaClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.OttResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOneTimeTokenStatus(request, requestOptions));
    }

    private async __getOneTimeTokenStatus(
        request: Wise.GetOneTimeTokenStatusScaRequest,
        requestOptions?: ScaClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.OttResponse>> {
        const { "One-Time-Token": oneTimeToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/status",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.OttResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/one-time-token/status");
    }
}
