// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace KioskClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KioskClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<KioskClient.Options>;

    constructor(options: KioskClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the current production status of a card at a kiosk machine.
     *
     * **Best practice**: Subscribe to the [card production status change](/api-reference/webhook-event/eventcardscardproductionstatuschange) webhook for real-time notifications. Use this endpoint only when you need to synchronously check the status.
     *
     * @param {Wise.cards.GetProductionKioskRequest} request
     * @param {KioskClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.kiosk.getProduction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52"
     *     })
     */
    public getProduction(
        request: Wise.cards.GetProductionKioskRequest,
        requestOptions?: KioskClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ProductionStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getProduction(request, requestOptions));
    }

    private async __getProduction(
        request: Wise.cards.GetProductionKioskRequest,
        requestOptions?: KioskClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ProductionStatus>> {
        const { profileId, cardToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/production`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.ProductionStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/cards/{cardToken}/production",
        );
    }

    /**
     * Sends the card production request to a kiosk machine. To confirm that card information has been successfully created, listen to the [card-production-status-change](/api-reference/webhook-event/eventcardscardproductionstatuschange) webhook with status `READY`.
     *
     * {% admonition type="warning" %}
     * Cards that were created over 60 days ago will result in a 422 error code and cannot be retried. This is due to the data being obfuscated on our side. In this case, a new card order has to be created.
     * {% /admonition %}
     *
     * @param {Wise.cards.ProduceKioskRequest} request
     * @param {KioskClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.kiosk.produce({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52",
     *         kioskId: "WIS00001"
     *     })
     */
    public produce(
        request: Wise.cards.ProduceKioskRequest,
        requestOptions?: KioskClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ProductionStatus> {
        return core.HttpResponsePromise.fromPromise(this.__produce(request, requestOptions));
    }

    private async __produce(
        request: Wise.cards.ProduceKioskRequest,
        requestOptions?: KioskClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ProductionStatus>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/production`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.ProductionStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/spend/profiles/{profileId}/cards/{cardToken}/production",
        );
    }
}
