// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace OtpClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OtpClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OtpClient.Options>;

    constructor(options: OtpClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a verified phone number for a user.
     *
     * {% admonition type="warning" %}
     * This endpoint is restricted and requires both a client credentials token and additional access to use. Please speak with your implementation manager if you would like to use this API.
     * {% /admonition %}
     *
     * @param {Wise.sca.RegisterPhoneNumberOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.registerPhoneNumber({
     *         userId: BigInt("1000000")
     *     })
     */
    public registerPhoneNumber(
        request: Wise.sca.RegisterPhoneNumberOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.PhoneNumber> {
        return core.HttpResponsePromise.fromPromise(this.__registerPhoneNumber(request, requestOptions));
    }

    private async __registerPhoneNumber(
        request: Wise.sca.RegisterPhoneNumberOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.PhoneNumber>> {
        const { userId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `application/users/${core.url.encodePathParam(userId)}/phone-numbers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.PhoneNumber, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/application/users/{userId}/phone-numbers",
        );
    }

    /**
     * To trigger a SMS challenge by sending SMS to user verified phone number. Contains a 6 digit one time password (**OTP**).
     *
     * Use this **OTP** code to clear an SMS challenge by using the [Verify SMS endpoint](/api-reference/sca-otp/ottsmsverify).
     *
     * @param {Wise.sca.SendSmsOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.sendSms({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public sendSms(
        request: Wise.sca.SendSmsOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.sca.SendSmsOtpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendSms(request, requestOptions));
    }

    private async __sendSms(
        request: Wise.sca.SendSmsOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.sca.SendSmsOtpResponse>> {
        const { "One-Time-Token": oneTimeToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/sms/trigger",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.sca.SendSmsOtpResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/one-time-token/sms/trigger");
    }

    /**
     * To clear a **SMS** challenge listed in a OTT.
     *
     * Notes:
     * 1. User is required to have a verified phone number. See [create phone number](/api-reference/sca-otp/usersecurityphonenumbercreate) for more information.
     * 2. [Trigger SMS Challenge](/api-reference/sca-otp/ottsmstrigger) is required to be called first.
     * 3. Since we won't be sending real SMS on sandbox, the **OTP Code** will always be **111111**.
     *
     * @param {Wise.sca.VerifySmsOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.verifySms({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public verifySms(
        request: Wise.sca.VerifySmsOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.OttResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifySms(request, requestOptions));
    }

    private async __verifySms(
        request: Wise.sca.VerifySmsOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.OttResponse>> {
        const { "One-Time-Token": oneTimeToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/sms/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.OttResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/one-time-token/sms/verify");
    }

    /**
     * To trigger a WhatsApp challenge by sending WhatsApp message to user verified phone number. Contains a 6 digit one time password (**OTP**).
     *
     * Use this **OTP** code to clear a WHATSAPP challenge by using the [Verify WhatsApp endpoint](/api-reference/sca-otp/ottwhatsappverify).
     *
     * @param {Wise.sca.SendWhatsappOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.sendWhatsapp({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public sendWhatsapp(
        request: Wise.sca.SendWhatsappOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.sca.SendWhatsappOtpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendWhatsapp(request, requestOptions));
    }

    private async __sendWhatsapp(
        request: Wise.sca.SendWhatsappOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.sca.SendWhatsappOtpResponse>> {
        const { "One-Time-Token": oneTimeToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/whatsapp/trigger",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.sca.SendWhatsappOtpResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/one-time-token/whatsapp/trigger",
        );
    }

    /**
     * To clear a **WHATSAPP** challenge listed in a OTT.
     *
     * Notes:
     * 1. User is required to have a verified phone number. See [create phone number](/api-reference/sca-otp/usersecurityphonenumbercreate) for more information.
     * 2. [Trigger WhatsApp Challenge](/api-reference/sca-otp/ottwhatsapptrigger) is required to be called first.
     * 3. Since we won't be sending real WhatsApp message on sandbox, the **OTP Code** will always be **111111**.
     *
     * @param {Wise.sca.VerifyWhatsappOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.verifyWhatsapp({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public verifyWhatsapp(
        request: Wise.sca.VerifyWhatsappOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.OttResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifyWhatsapp(request, requestOptions));
    }

    private async __verifyWhatsapp(
        request: Wise.sca.VerifyWhatsappOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.OttResponse>> {
        const { "One-Time-Token": oneTimeToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/whatsapp/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.OttResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/one-time-token/whatsapp/verify",
        );
    }

    /**
     * To trigger a Voice challenge by sending voice message to user verified phone number. Contains a 6 digit one time password (**OTP**).
     *
     * Use this **OTP** code to clear a VOICE challenge by using the [Verify Voice endpoint](/api-reference/sca-otp/ottvoiceverify).
     *
     * @param {Wise.sca.SendVoiceOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.sendVoice({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public sendVoice(
        request: Wise.sca.SendVoiceOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.sca.SendVoiceOtpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendVoice(request, requestOptions));
    }

    private async __sendVoice(
        request: Wise.sca.SendVoiceOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.sca.SendVoiceOtpResponse>> {
        const { "One-Time-Token": oneTimeToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/voice/trigger",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.sca.SendVoiceOtpResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/one-time-token/voice/trigger",
        );
    }

    /**
     * To clear a **VOICE** challenge listed in a OTT.
     *
     * Notes:
     * 1. User is required to have a verified phone number. See [create phone number](/api-reference/sca-otp/usersecurityphonenumbercreate) for more information.
     * 2. [Trigger Voice Challenge](/api-reference/sca-otp/ottvoicetrigger) is required to be called first.
     * 3. Since we won't be sending real voice message on sandbox, the **OTP Code** will always be **111111**.
     *
     * @param {Wise.sca.VerifyVoiceOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.verifyVoice({
     *         "One-Time-Token": "One-Time-Token"
     *     })
     */
    public verifyVoice(
        request: Wise.sca.VerifyVoiceOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.OttResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verifyVoice(request, requestOptions));
    }

    private async __verifyVoice(
        request: Wise.sca.VerifyVoiceOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.OttResponse>> {
        const { "One-Time-Token": oneTimeToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "one-time-token/voice/verify",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.OttResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/one-time-token/voice/verify");
    }

    /**
     * Delete a verified phone number for a user.
     *
     * {% admonition type="warning" %}
     * This endpoint is restricted and requires both a client credentials token and additional access to use. Please speak with your implementation manager if you would like to use this API.
     * {% /admonition %}
     *
     * @param {Wise.sca.DeletePhoneNumberOtpRequest} request
     * @param {OtpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.otp.deletePhoneNumber({
     *         userId: BigInt("1000000"),
     *         phoneNumberId: BigInt("1000000")
     *     })
     */
    public deletePhoneNumber(
        request: Wise.sca.DeletePhoneNumberOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deletePhoneNumber(request, requestOptions));
    }

    private async __deletePhoneNumber(
        request: Wise.sca.DeletePhoneNumberOtpRequest,
        requestOptions?: OtpClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { userId, phoneNumberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `application/users/${core.url.encodePathParam(userId)}/phone-numbers/${core.url.encodePathParam(phoneNumberId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/application/users/{userId}/phone-numbers/{phoneNumberId}",
        );
    }
}
