// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace TransactionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransactionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransactionsClient.Options>;

    constructor(options: TransactionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a card transaction by its ID.
     *
     * Use in conjunction with the [card transaction state change webhook](/api-reference/webhook-event/eventcardstransactionstatechange) for versions V2.1.0 and later.
     *
     * {% admonition type="warning" %}
     * Only transactions created in the past 90 days can be accessed. A 422 error code will be returned otherwise.
     * {% /admonition %}
     *
     * When a refund happens, a separate transaction will be added with a `REFUND` transaction type.
     *
     * @param {Wise.cards.GetTransactionsRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.transactions.get({
     *         profileId: BigInt("1000000"),
     *         transactionId: BigInt("1000000")
     *     })
     */
    public get(
        request: Wise.cards.GetTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CardTransaction> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.cards.GetTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CardTransaction>> {
        const { profileId, transactionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/transactions/${core.url.encodePathParam(transactionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.CardTransaction, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/cards/transactions/{transactionId}",
        );
    }

    /**
     * Retrieve a list of card transactions for a specific card. Transactions are ordered by transaction ID in descending order.
     *
     * Use in conjunction with the [card transaction state change webhook](/api-reference/webhook-event/eventcardstransactionstatechange) for versions V2.1.0 and later.
     *
     * {% admonition type="warning" %}
     * Only transactions created in the past 90 days can be accessed. A 422 error code will be returned otherwise.
     * {% /admonition %}
     *
     * The `debits` and `credits` fields are not included in list responses. Use the [Get card transaction](/api-reference/card-transaction/cardtransactionget) endpoint to retrieve these fields.
     *
     * @param {Wise.cards.ListTransactionsRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.transactions.list({
     *         profileId: BigInt("1000000"),
     *         cardToken: "59123122-223d-45f9-b840-0ad4a4f80937",
     *         fromCreationTime: "2025-12-15T00:00:00Z",
     *         toCreationTime: "2026-01-15T00:00:10Z"
     *     })
     */
    public list(
        request: Wise.cards.ListTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.cards.ListTransactionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.cards.ListTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.cards.ListTransactionsResponse>> {
        const { profileId, cardToken, fromCreationTime, toCreationTime, pageSize, lastId } = request;
        const _queryParams: Record<string, unknown> = {
            fromCreationTime,
            toCreationTime,
            pageSize,
            lastId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/transactions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.cards.ListTransactionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/cards/{cardToken}/transactions",
        );
    }
}
