# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawMultiCurrencyAccountsClient, RawMultiCurrencyAccountsClient
from .types.get_eligibility_multi_currency_accounts_response import GetEligibilityMultiCurrencyAccountsResponse
from .types.get_multi_currency_accounts_response import GetMultiCurrencyAccountsResponse


class MultiCurrencyAccountsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawMultiCurrencyAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawMultiCurrencyAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawMultiCurrencyAccountsClient
        """
        return self._raw_client

    def get_available_currencies(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[str]:
        """
        Lists all currencies that are available for balance accounts. This includes those that can have funds added from external accounts, as well as those that a balance can be held in.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[str]
            List of currencies available for balance accounts.

        Examples
        --------
        from wise_sdk.generated import WiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = WiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )
        client.multi_currency_accounts.get_available_currencies(
            profile_id=1000000,
        )
        """
        _response = self._raw_client.get_available_currencies(profile_id=profile_id, request_options=request_options)
        return _response.data

    def get_payin_currencies(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[str]:
        """
        Lists all currencies available for balance accounts that also support bank account details. You can use this list to create a balance account for the currency included and then subsequently create bank account details.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[str]
            List of currencies available for payin with bank account details.

        Examples
        --------
        from wise_sdk.generated import WiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = WiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )
        client.multi_currency_accounts.get_payin_currencies(
            profile_id=1000000,
        )
        """
        _response = self._raw_client.get_payin_currencies(profile_id=profile_id, request_options=request_options)
        return _response.data

    def get(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> GetMultiCurrencyAccountsResponse:
        """
        Returns the multi-currency account details for the specified profile. If the user does not yet have a multi-currency account, a `404 Not Found` will be returned.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetMultiCurrencyAccountsResponse
            Multi currency account object.

        Examples
        --------
        from wise_sdk.generated import WiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = WiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )
        client.multi_currency_accounts.get(
            profile_id=1000000,
        )
        """
        _response = self._raw_client.get(profile_id=profile_id, request_options=request_options)
        return _response.data

    def get_eligibility(
        self,
        *,
        profile_id: typing.Optional[int] = None,
        country: typing.Optional[str] = None,
        state: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetEligibilityMultiCurrencyAccountsResponse:
        """
        Checks eligibility for a multi-currency account for either a specific profile or for a location. Customers in some countries and states/provinces may not be eligible for a multi currency account.

        To check a profile, pass the `profileId` as a query parameter.

        To check a specific location, pass the `country` using 2-letter ISO 3166 codes. If the country is `US`, a valid 2-letter `state` parameter must also be passed.

        - Example (France): `/v4/multi-currency-account/eligibility?country=FR`
        - Example (USA, California): `/v4/multi-currency-account/eligibility?country=US&state=CA`

        Parameters
        ----------
        profile_id : typing.Optional[int]
            Profile ID to check eligibility for.

        country : typing.Optional[str]
            2-letter ISO 3166 country code to check eligibility for.

        state : typing.Optional[str]
            2-letter state/province code. Required when `country` is `US`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetEligibilityMultiCurrencyAccountsResponse
            Eligibility result.

        Examples
        --------
        from wise_sdk.generated import WiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = WiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )
        client.multi_currency_accounts.get_eligibility(
            country="FR",
            state="CA",
        )
        """
        _response = self._raw_client.get_eligibility(
            profile_id=profile_id, country=country, state=state, request_options=request_options
        )
        return _response.data


class AsyncMultiCurrencyAccountsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawMultiCurrencyAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawMultiCurrencyAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawMultiCurrencyAccountsClient
        """
        return self._raw_client

    async def get_available_currencies(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[str]:
        """
        Lists all currencies that are available for balance accounts. This includes those that can have funds added from external accounts, as well as those that a balance can be held in.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[str]
            List of currencies available for balance accounts.

        Examples
        --------
        import asyncio

        from wise_sdk.generated import AsyncWiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = AsyncWiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )


        async def main() -> None:
            await client.multi_currency_accounts.get_available_currencies(
                profile_id=1000000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_available_currencies(
            profile_id=profile_id, request_options=request_options
        )
        return _response.data

    async def get_payin_currencies(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[str]:
        """
        Lists all currencies available for balance accounts that also support bank account details. You can use this list to create a balance account for the currency included and then subsequently create bank account details.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[str]
            List of currencies available for payin with bank account details.

        Examples
        --------
        import asyncio

        from wise_sdk.generated import AsyncWiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = AsyncWiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )


        async def main() -> None:
            await client.multi_currency_accounts.get_payin_currencies(
                profile_id=1000000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_payin_currencies(profile_id=profile_id, request_options=request_options)
        return _response.data

    async def get(
        self, *, profile_id: int, request_options: typing.Optional[RequestOptions] = None
    ) -> GetMultiCurrencyAccountsResponse:
        """
        Returns the multi-currency account details for the specified profile. If the user does not yet have a multi-currency account, a `404 Not Found` will be returned.

        Parameters
        ----------
        profile_id : int
            Profile ID.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetMultiCurrencyAccountsResponse
            Multi currency account object.

        Examples
        --------
        import asyncio

        from wise_sdk.generated import AsyncWiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = AsyncWiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )


        async def main() -> None:
            await client.multi_currency_accounts.get(
                profile_id=1000000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get(profile_id=profile_id, request_options=request_options)
        return _response.data

    async def get_eligibility(
        self,
        *,
        profile_id: typing.Optional[int] = None,
        country: typing.Optional[str] = None,
        state: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetEligibilityMultiCurrencyAccountsResponse:
        """
        Checks eligibility for a multi-currency account for either a specific profile or for a location. Customers in some countries and states/provinces may not be eligible for a multi currency account.

        To check a profile, pass the `profileId` as a query parameter.

        To check a specific location, pass the `country` using 2-letter ISO 3166 codes. If the country is `US`, a valid 2-letter `state` parameter must also be passed.

        - Example (France): `/v4/multi-currency-account/eligibility?country=FR`
        - Example (USA, California): `/v4/multi-currency-account/eligibility?country=US&state=CA`

        Parameters
        ----------
        profile_id : typing.Optional[int]
            Profile ID to check eligibility for.

        country : typing.Optional[str]
            2-letter ISO 3166 country code to check eligibility for.

        state : typing.Optional[str]
            2-letter state/province code. Required when `country` is `US`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetEligibilityMultiCurrencyAccountsResponse
            Eligibility result.

        Examples
        --------
        import asyncio

        from wise_sdk.generated import AsyncWiseClient
        from wise_sdk.generated.environment import WiseClientEnvironment

        client = AsyncWiseClient(
            external_correlation_id="YOUR_EXTERNAL_CORRELATION_ID",
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
            access_token="YOUR_ACCESS_TOKEN",
            environment=WiseClientEnvironment.SANDBOX,
        )


        async def main() -> None:
            await client.multi_currency_accounts.get_eligibility(
                country="FR",
                state="CA",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_eligibility(
            profile_id=profile_id, country=country, state=state, request_options=request_options
        )
        return _response.data
