// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace SimulationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationsClient.Options>;

    constructor(options: SimulationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Changes the transfer status to the specified state. The available state transitions are:
     *
     * - `processing` — from `incoming_payment_waiting`
     * - `funds_converted` — from `processing`. Refer to regional guides for special regional requirements.
     * - `outgoing_payment_sent` — from `funds_converted`
     * - `bounced_back` — from `outgoing_payment_sent`
     * - `funds_refunded` — from `bounced_back`.
     *
     * {% admonition type="info" %}
     * Important notes
     *  - Simulation is not supported for email transfers.
     *  - Fund the transfer first before calling any simulation endpoints.
     *  - Even if funding moves the transfer to a processing state, you must still call the /processing simulation endpoint.
     *  - Although the simulation request may respond immediately, processing is asynchronous - wait at least 5 seconds between simulation calls.
     * {% /admonition %}
     *
     * ### Sandbox refund simulation behaviour {% #sandbox-refund %}
     *
     * When simulating `funds_refunded`, a `transfers#refund` webhook is delivered with a simulated `refund_amount`. The amount is calculated as follows:
     *
     * - **SWIFT payouts:** A random fee between 5-15% is deducted from the source amount. This is non-deterministic — each simulation produces a different refund amount. This is intended for testing your partial refund handling flow.
     * - **Non-SWIFT payouts:** The full source amount is refunded.
     *
     * The simulated refund amount only applies to the webhook payload. Balances and the sandbox UI will always reflect the full refund amount regardless of payout method, so the webhook `refund_amount` may differ from what is shown in balances and the sandbox UI for SWIFT transfers.
     * This simulation is not suitable for reconciliation testing between webhook amounts and balances.
     *
     * @param {Wise.ChangeTransferStateSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.changeTransferState({
     *         transferId: BigInt("1000000"),
     *         status: "processing"
     *     })
     */
    public changeTransferState(
        request: Wise.ChangeTransferStateSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__changeTransferState(request, requestOptions));
    }

    private async __changeTransferState(
        request: Wise.ChangeTransferStateSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { transferId, status } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/transfers/${core.url.encodePathParam(transferId)}/${core.url.encodePathParam(status)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/simulation/transfers/{transferId}/{status}",
        );
    }

    /**
     * Triggers transfers#payout-failure webhook for the transfer.
     *
     * The available payout failure reason codes are listed in the [transfers#payout-failure webhook guide](/guides/product/send-money/tracking/payout-failures).
     *
     * {% admonition type="info" %}
     * - Simulation requires transfer to be in `bounced_back` state.
     * - While payout failure simulation call will respond with 200 in real time, the payout failure webhook is asynchronous.
     * {% /admonition %}
     *
     * Request body is optional; omit it or send {} to trigger a random failure reason.
     *
     * @param {Wise.FailTransferPayoutSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link Wise.InternalServerError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.failTransferPayout({
     *         transferId: BigInt("1000000")
     *     })
     *
     * @example
     *     await client.simulations.failTransferPayout({
     *         transferId: BigInt("1000000"),
     *         failure_reason_code: "WRONG_ID_NUMBER"
     *     })
     */
    public failTransferPayout(
        request: Wise.FailTransferPayoutSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__failTransferPayout(request, requestOptions));
    }

    private async __failTransferPayout(
        request: Wise.FailTransferPayoutSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { transferId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/transfers/${core.url.encodePathParam(transferId)}/payout-failure`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Wise.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/transfers/{transferId}/payout-failure",
        );
    }

    /**
     * Changes a specific profile's verification state to `PASSED`.
     *
     * This is useful for testing the `profiles#verification-state-change` webhook and is a prerequisite for setting up a Multi-Currency Account (MCA).
     *
     * Accepts both user and application API tokens.
     *
     * @param {Wise.VerifyUserSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.verifyUser({
     *         profileId: BigInt("1000000")
     *     })
     */
    public verifyUser(
        request: Wise.VerifyUserSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__verifyUser(request, requestOptions));
    }

    private async __verifyUser(
        request: Wise.VerifyUserSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/verifications`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/verifications",
        );
    }

    /**
     * Verifies all profiles associated with the authenticated user, changing their verification state to `PASSED`.
     *
     * This is useful for testing the `profiles#verification-state-change` webhook and is a prerequisite for setting up a Multi-Currency Account (MCA).
     *
     * Accepts user API tokens only. The profiles are identified via the token.
     *
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.verifyProfile()
     */
    public verifyProfile(requestOptions?: SimulationsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__verifyProfile(requestOptions));
    }

    private async __verifyProfile(
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "simulation/verify-profile",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/simulation/verify-profile");
    }

    /**
     * Simulates a top-up so that a balance can be used to fund transfers and/or card spend.
     *
     * @param {Wise.TopUpBalanceSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.topUpBalance({
     *         profileId: BigInt("2"),
     *         balanceId: BigInt("5"),
     *         currency: "EUR",
     *         amount: 100,
     *         channel: "TRANSFER"
     *     })
     */
    public topUpBalance(
        request: Wise.TopUpBalanceSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.TopUpBalanceSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__topUpBalance(request, requestOptions));
    }

    private async __topUpBalance(
        request: Wise.TopUpBalanceSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.TopUpBalanceSimulationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "simulation/balance/topup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.TopUpBalanceSimulationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/simulation/balance/topup");
    }

    /**
     * Simulates a card transaction authorisation request in the sandbox environment. It can simulate ATM withdrawals, POS purchases, e-commerce transactions, and refunds. This is an authorisation hold, where funds are held, but not yet captured by the acquirer.
     *
     * The `cardNumber` represents the 16-digit Primary Account Number (PAN) of the card, and must be a valid PAN retrieved from sensitive card details. Please follow the [detailed guide](/guides/product/issue-cards/sensitive-card-details) on retrieving sensitive card details.
     *
     * #### Refund
     *
     * A refund is a 2-step process: first authorise with `transactionType` set to `REFUND`, then clear using the [clearing endpoint](/api-reference/simulation/simulationcardtransactionclearing) with the same transaction type.
     *
     * {% admonition type="warning" %}
     * Refund simulation doesn't work with Mastercard.
     * {% /admonition %}
     *
     * @param {Wise.AuthorizeCardTransactionSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.authorizeCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         pos: "CHIP_AND_PIN",
     *         transactionType: "GOODS_AND_SERVICES",
     *         amount: {
     *             value: 10,
     *             currency: "SGD"
     *         },
     *         mcc: 5499,
     *         cardNumber: "4242424242424242"
     *     })
     *
     * @example
     *     await client.simulations.authorizeCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         pos: "E_COMMERCE_NO_3DS",
     *         transactionType: "GOODS_AND_SERVICES",
     *         amount: {
     *             value: 10,
     *             currency: "SGD"
     *         },
     *         mcc: 5499,
     *         cardNumber: "4242424242424242"
     *     })
     *
     * @example
     *     await client.simulations.authorizeCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         pos: "CHIP_AND_PIN",
     *         transactionType: "CASH_WITHDRAWAL",
     *         amount: {
     *             value: 10,
     *             currency: "SGD"
     *         },
     *         mcc: 6011,
     *         cardNumber: "4242424242424242"
     *     })
     *
     * @example
     *     await client.simulations.authorizeCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         pos: "CHIP_AND_PIN",
     *         transactionType: "REFUND",
     *         amount: {
     *             value: 10,
     *             currency: "SGD"
     *         },
     *         mcc: 5499,
     *         cardNumber: "4242424242424242"
     *     })
     */
    public authorizeCardTransaction(
        request: Wise.AuthorizeCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.AuthorizeCardTransactionSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__authorizeCardTransaction(request, requestOptions));
    }

    private async __authorizeCardTransaction(
        request: Wise.AuthorizeCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.AuthorizeCardTransactionSimulationsResponse>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/transactions/authorisation`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.AuthorizeCardTransactionSimulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/spend/profiles/{profileId}/cards/{cardToken}/transactions/authorisation",
        );
    }

    /**
     * Simulates a transaction clearing request in the sandbox environment. This is done after the authorisation. The `ref` field can be copied from the `reference` object in the authorisation response.
     *
     * To clear a previous authorisation, the `ref` details must match the previous authorisation request. The `amount` does not have to match the previous authorisation request, it can be more or less than the authorisation request amount.
     *
     * {% admonition type="warning" %}
     * Clearing simulation doesn't work with Mastercard.
     * {% /admonition %}
     *
     * #### Refund
     *
     * A refund is a 2-step process: first [authorise](/api-reference/simulation/simulationcardtransactionauthorisation) with `transactionType` set to `REFUND`, then clear using this endpoint with the same transaction type.
     *
     * @param {Wise.ClearCardTransactionSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.clearCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         amount: {
     *             value: 10,
     *             currency: "SGD"
     *         },
     *         transactionType: "GOODS_AND_SERVICES",
     *         ref: {
     *             "transaction": {
     *                 "acquirer": {
     *                     "institutionId": "430010",
     *                     "name": "ACQUIRER NAME",
     *                     "city": "CITY NAME",
     *                     "merchantCategoryCode": 5499,
     *                     "country": "GB",
     *                     "acceptorTerminalId": "TERMID01",
     *                     "acceptorIdCode": "CARD ACCEPTOR",
     *                     "forwardingInstitutionId": "400050"
     *                 },
     *                 "card": {
     *                     "token": "59123122-223d-45f9-b840-0ad4a4f80937",
     *                     "schemeName": "VISA",
     *                     "pan": "4242424242424242",
     *                     "pin": "1234",
     *                     "cvv1": "123",
     *                     "icvv": "456",
     *                     "cvv2": "789",
     *                     "expiration": [
     *                         2029,
     *                         7
     *                     ],
     *                     "sequenceNumber": 1,
     *                     "profileId": 2,
     *                     "userId": 5,
     *                     "cardStatus": "ACTIVE",
     *                     "country": "SG",
     *                     "currencies": [
     *                         "SGD"
     *                     ]
     *                 },
     *                 "pos": {
     *                     "type": "CHIP_AND_PIN",
     *                     "acceptsOnlinePins": true,
     *                     "maxPinLength": 12,
     *                     "supports3ds": false,
     *                     "hasChip": true
     *                 },
     *                 "transactionStartTime": 1667541087.0476434,
     *                 "stan": "363054",
     *                 "schemeTransactionId": "932290252416153",
     *                 "retrievalReferenceNum": "230805363054"
     *             },
     *             "requestMti": "0200",
     *             "authorizationIdResponse": "123646"
     *         }
     *     })
     */
    public clearCardTransaction(
        request: Wise.ClearCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ClearCardTransactionSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__clearCardTransaction(request, requestOptions));
    }

    private async __clearCardTransaction(
        request: Wise.ClearCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ClearCardTransactionSimulationsResponse>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/transactions/clearing`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.ClearCardTransactionSimulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/spend/profiles/{profileId}/cards/{cardToken}/transactions/clearing",
        );
    }

    /**
     * Simulates a transaction reversal request in the sandbox environment. The `amount.value` field can be set to 0 for a full reversal, or a positive value that represents the intended final value of the transaction after a partial reversal.
     *
     * For example, if a transaction value was originally 10 SGD, and the intended final value is 3 SGD, `amount.value` should be set to 3. This means there is a partial refund of 7 SGD.
     *
     * @param {Wise.ReverseCardTransactionSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.reverseCardTransaction({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         amount: {
     *             value: 3,
     *             currency: "SGD"
     *         },
     *         transactionType: "GOODS_AND_SERVICES",
     *         ref: {
     *             "transaction": {
     *                 "acquirer": {
     *                     "institutionId": "430010",
     *                     "name": "ACQUIRER NAME",
     *                     "city": "CITY NAME",
     *                     "merchantCategoryCode": 5499,
     *                     "country": "GB",
     *                     "acceptorTerminalId": "TERMID01",
     *                     "acceptorIdCode": "CARD ACCEPTOR",
     *                     "forwardingInstitutionId": "400050"
     *                 },
     *                 "card": {
     *                     "token": "59123122-223d-45f9-b840-0ad4a4f80937",
     *                     "schemeName": "VISA",
     *                     "pan": "4242424242424242",
     *                     "pin": "1234",
     *                     "cvv1": "123",
     *                     "icvv": "456",
     *                     "cvv2": "789",
     *                     "expiration": [
     *                         2029,
     *                         7
     *                     ],
     *                     "sequenceNumber": 1,
     *                     "profileId": 2,
     *                     "userId": 5,
     *                     "cardStatus": "ACTIVE",
     *                     "country": "SG",
     *                     "currencies": [
     *                         "SGD"
     *                     ]
     *                 },
     *                 "pos": {
     *                     "type": "CHIP_AND_PIN",
     *                     "acceptsOnlinePins": true,
     *                     "maxPinLength": 12,
     *                     "supports3ds": false,
     *                     "hasChip": true
     *                 },
     *                 "transactionStartTime": 1667541087.0476434,
     *                 "stan": "363054",
     *                 "schemeTransactionId": "932290252416153",
     *                 "retrievalReferenceNum": "230805363054"
     *             },
     *             "requestMti": "0200",
     *             "authorizationIdResponse": "123646"
     *         }
     *     })
     */
    public reverseCardTransaction(
        request: Wise.ReverseCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ReverseCardTransactionSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__reverseCardTransaction(request, requestOptions));
    }

    private async __reverseCardTransaction(
        request: Wise.ReverseCardTransactionSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ReverseCardTransactionSimulationsResponse>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/transactions/reversal`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.ReverseCardTransactionSimulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/spend/profiles/{profileId}/cards/{cardToken}/transactions/reversal",
        );
    }

    /**
     * Returns a list of simulated card transactions, in descending order of creation time.
     *
     * To retrieve more details of a transaction, use the [get card transaction by ID](/api-reference/card-transaction/cardtransactionget) endpoint.
     *
     * @param {Wise.CreateCardTransactionsSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.createCardTransactions({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken"
     *     })
     */
    public createCardTransactions(
        request: Wise.CreateCardTransactionsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreateCardTransactionsSimulationsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__createCardTransactions(request, requestOptions));
    }

    private async __createCardTransactions(
        request: Wise.CreateCardTransactionsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreateCardTransactionsSimulationsResponseItem[]>> {
        const { profileId, cardToken, limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/transactions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.CreateCardTransactionsSimulationsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/simulation/spend/profiles/{profileId}/cards/{cardToken}/transactions",
        );
    }

    /**
     * Simulates a card production status change in the sandbox environment.
     *
     * {% admonition type="warning" %}
     * Please ensure that you have created a physical card order with KIOSK_COLLECTION delivery method and that you produce the card before calling this endpoint to simulate various card production statuses.
     * {% /admonition %}
     *
     * @param {Wise.ProduceCardSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.produceCard({
     *         profileId: BigInt("1000000"),
     *         cardToken: "cardToken",
     *         status: "PRODUCTION_ERROR",
     *         errorCode: "PRT_NOT_REACHABLE"
     *     })
     */
    public produceCard(
        request: Wise.ProduceCardSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__produceCard(request, requestOptions));
    }

    private async __produceCard(
        request: Wise.ProduceCardSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/production`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/spend/profiles/{profileId}/cards/{cardToken}/production",
        );
    }

    /**
     * Lists all blocking requirements for a KYC (Know Your Customer) review. These outstanding KYC requirements typically act as "blocking requirements", preventing actions like creating transfers.
     *
     * @param {Wise.ListKycRequirementsSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.listKycRequirements({
     *         profileId: BigInt("1000000"),
     *         kycReviewId: "kycReviewId"
     *     })
     */
    public listKycRequirements(
        request: Wise.ListKycRequirementsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ListKycRequirementsSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listKycRequirements(request, requestOptions));
    }

    private async __listKycRequirements(
        request: Wise.ListKycRequirementsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ListKycRequirementsSimulationsResponse>> {
        const { profileId, kycReviewId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/kyc-reviews/${core.url.encodePathParam(kycReviewId)}/requirements`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.ListKycRequirementsSimulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/simulation/profiles/{profileId}/kyc-reviews/{kycReviewId}/requirements",
        );
    }

    /**
     * Creates a new requirement for a KYC (Know Your Customer) review for a business profile.
     *
     * {% admonition type="warning" %}
     * This can only be used for business profiles. It creates a static `BUSINESS_USE_CASE` requirement only.
     * {% /admonition %}
     *
     * @param {Wise.AddKycRequirementSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.addKycRequirement({
     *         profileId: BigInt("1000000"),
     *         kycReviewId: "kycReviewId"
     *     })
     */
    public addKycRequirement(
        request: Wise.AddKycRequirementSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__addKycRequirement(request, requestOptions));
    }

    private async __addKycRequirement(
        request: Wise.AddKycRequirementSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, kycReviewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/kyc-reviews/${core.url.encodePathParam(kycReviewId)}/requirements/add`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/kyc-reviews/{kycReviewId}/requirements/add",
        );
    }

    /**
     * Simulates providing everything needed for a particular KYC requirement. This can be used in place of going through a hosted journey on the browser.
     *
     * {% admonition type="info" %}
     * This functionality only works for the following requirements: `TRANSFER_PURPOSE`, `ID_DOCUMENT_WITH_LIVENESS`, `SOURCE_OF_FUNDS`, and any other that has the `___` delimiter in them.
     * {% /admonition %}
     *
     * @param {Wise.SubmitKycRequirementsSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.submitKycRequirements({
     *         profileId: BigInt("1000000"),
     *         kycReviewId: "kycReviewId",
     *         requirement: "ACCOUNT_PURPOSE"
     *     })
     */
    public submitKycRequirements(
        request: Wise.SubmitKycRequirementsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__submitKycRequirements(request, requestOptions));
    }

    private async __submitKycRequirements(
        request: Wise.SubmitKycRequirementsSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, kycReviewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/kyc-reviews/${core.url.encodePathParam(kycReviewId)}/requirements/submit`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/kyc-reviews/{kycReviewId}/requirements/submit",
        );
    }

    /**
     * Verifies requirement(s) on an existing KYC (Know Your Customer) review. Can be used after a user has provided input for a requirement through the hosted journey or simulated the requirement submission.
     *
     * @param {Wise.VerifyKycReviewSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.verifyKycReview({
     *         profileId: BigInt("1000000"),
     *         kycReviewId: "kycReviewId",
     *         requestedAction: "APPROVE",
     *         requirements: ["ACCOUNT_PURPOSE_V2"]
     *     })
     */
    public verifyKycReview(
        request: Wise.VerifyKycReviewSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__verifyKycReview(request, requestOptions));
    }

    private async __verifyKycReview(
        request: Wise.VerifyKycReviewSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, kycReviewId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/kyc-reviews/${core.url.encodePathParam(kycReviewId)}/verify`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/kyc-reviews/{kycReviewId}/verify",
        );
    }

    /**
     * Simulates a bank transfer into a profile's account details. This will create a payment into the user's account details and balance for the specified amount and currency.
     *
     * Please refer to the [Bank Account Details API reference](/api-reference/bank-account-details) for more information on setting up bank details to receive money.
     *
     * {% admonition type="info" %}
     * This functionality only works for the following currencies: `USD`, `EUR`, `GBP`. Returns a 400 error when account details for the specified currency do not exist.
     * {% /admonition %}
     *
     * @param {Wise.BankTransactionImportRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.importBankTransaction({
     *         profileId: BigInt("1000000"),
     *         currency: "USD",
     *         amount: 2000
     *     })
     *
     * @example
     *     await client.simulations.importBankTransaction({
     *         profileId: BigInt("1000000"),
     *         currency: "USD",
     *         amount: 2000,
     *         reference: "Test transfer",
     *         senderName: "John Doe",
     *         senderBankCode: "101019628",
     *         senderAccountNumber: "1234567890",
     *         beneficiaryName: "John Doe",
     *         senderAddress: {
     *             addressFirstLine: "1 Sender Street",
     *             city: "Berlin",
     *             postalCode: "10115",
     *             stateCode: "BE",
     *             country: "DE"
     *         },
     *         beneficiaryAddress: {
     *             addressFirstLine: "1 Recipient Street",
     *             city: "Brussels",
     *             postalCode: "1000",
     *             stateCode: "BRU",
     *             country: "BE"
     *         }
     *     })
     */
    public importBankTransaction(
        request: Wise.BankTransactionImportRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__importBankTransaction(request, requestOptions));
    }

    private async __importBankTransaction(
        request: Wise.BankTransactionImportRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/bank-transactions/import`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/bank-transactions/import",
        );
    }

    /**
     * Simulates an incoming Swift transfer into a profile's account details. This will create a payment into the user's account details and balance for the specified amount and currency. Using sandbox, you can test the initial tech build for webhook subscriptions, balance statements, and sweeping funds.
     *
     * If the request is successful the transfer is logged in our back office, which triggers a [swift-in#credit](/api-reference/webhook-event/eventswiftincredit) event and results in a balance update.
     *
     * {% admonition type="info" %}
     * While most fields are optional, default values will be provided as needed.
     * {% /admonition %}
     *
     * @param {Wise.SwiftInRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.createSwiftIncomingTransfer({
     *         profileId: BigInt("1000000"),
     *         currencyCode: "EUR",
     *         amount: 100
     *     })
     *
     * @example
     *     await client.simulations.createSwiftIncomingTransfer({
     *         profileId: BigInt("1000000"),
     *         currencyCode: "EUR",
     *         amount: 100,
     *         instructedCurrencyCode: "EUR",
     *         instructedAmount: 101,
     *         beneficiaryName: "John Doe",
     *         beneficiaryAccount: "8599680548",
     *         beneficiaryAddress: {
     *             addressLine: "1234 Elm St, IL",
     *             city: "Springfield",
     *             postalCode: "62704",
     *             country: "US"
     *         },
     *         senderName: "Jane Doe",
     *         senderBank: {
     *             "bic": "DEUTDEDBFRA",
     *             "name": "Example Bank",
     *             "lei": "5493001KJTIIGC8Y1R12",
     *             "clearingSystemCode": "DEBLZ",
     *             "clearingSystemMemberId": "50070010",
     *             "address": {
     *                 "addressLine": "1 Bank Street",
     *                 "city": "Frankfurt",
     *                 "postalCode": "60311",
     *                 "country": "DE"
     *             }
     *         },
     *         senderAccount: "DE89370400440532013000",
     *         senderAddress: {
     *             addressLine: "5678 Oak St",
     *             city: "Springfield",
     *             postalCode: "62704",
     *             country: "US"
     *         },
     *         paymentReference: "Test123",
     *         charges: [{
     *                 amount: 1,
     *                 currency: "EUR",
     *                 agent: "DEUTDEDBFRA"
     *             }],
     *         previousInstructingAgents: ["COBADEFFXXX"]
     *     })
     */
    public createSwiftIncomingTransfer(
        request: Wise.SwiftInRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createSwiftIncomingTransfer(request, requestOptions));
    }

    private async __createSwiftIncomingTransfer(
        request: Wise.SwiftInRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `simulation/profiles/${core.url.encodePathParam(profileId)}/swift-in`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/simulation/profiles/{profileId}/swift-in",
        );
    }

    /**
     * Simulates the creation or closure of a sanction case for testing partner integrations.
     *
     * When `status` is `OPEN`, a new sanction case is created with the specified type and subtype.
     * When `status` is `CLOSE`, an existing case (identified by `caseId`) is closed with the specified reason.
     *
     * This endpoint is only available in sandbox environments.
     *
     * @param {Wise.ChangeSanctionCaseStateSimulationsRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.simulations.changeSanctionCaseState({
     *         transferId: BigInt("12345678"),
     *         profileId: BigInt("98765432"),
     *         sanctionType: "SANCTION",
     *         simulationSanctionSubType: "REFERENCE_SANCTION_HIT",
     *         status: "OPEN"
     *     })
     *
     * @example
     *     await client.simulations.changeSanctionCaseState({
     *         transferId: BigInt("12345678"),
     *         profileId: BigInt("98765432"),
     *         sanctionType: "SANCTION",
     *         simulationSanctionSubType: "RECIPIENT_LOCATION_HIT",
     *         status: "OPEN"
     *     })
     *
     * @example
     *     await client.simulations.changeSanctionCaseState({
     *         transferId: BigInt("12345678"),
     *         profileId: BigInt("98765432"),
     *         sanctionType: "SANCTION",
     *         simulationSanctionSubType: "REFERENCE_SANCTION_HIT",
     *         status: "CLOSE",
     *         caseId: BigInt("999"),
     *         closingReason: "COMPLETED"
     *     })
     */
    public changeSanctionCaseState(
        request: Wise.ChangeSanctionCaseStateSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ChangeSanctionCaseStateSimulationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__changeSanctionCaseState(request, requestOptions));
    }

    private async __changeSanctionCaseState(
        request: Wise.ChangeSanctionCaseStateSimulationsRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ChangeSanctionCaseStateSimulationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "simulation/sanction-cases",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.ChangeSanctionCaseStateSimulationsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/simulation/sanction-cases");
    }
}
