// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace DisputesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Raise and manage card transaction disputes, including submission via Dynamic Flow or direct API, file uploads, and dispute lifecycle tracking.
 *
 * For implementation details, see:
 * - [Disputes via Dynamic Flow](/guides/product/issue-cards/card-disputes-dynamic-flow) — build a dispute UI using the Dynamic Flow framework
 * - [Disputes via API](/guides/product/issue-cards/card-disputes-api) — submit disputes directly, with per-reason request body details
 * - [Dispute management](/guides/product/issue-cards/card-disputes-management) — track and withdraw disputes
 *
 * Dispute sub-statuses {% #dispute-sub-status .title-3 .m-t-5 %}
 *
 * The possible `subStatus` values are:
 * - `SUBMITTED` — Initial status
 * - `IN_REVIEW` — The dispute is under review or requires additional information
 * - `REFUNDED` — The refund has been processed
 * - `REJECTED` — The dispute is invalid
 * - `WITHDRAWN` — The customer has withdrawn the dispute
 * - `CONFIRMED` — The dispute has been reviewed but a refund is not applicable
 * - `REFUND_IN_PROGRESS` — A refund is being processed
 * - `ATTEMPTING_RECOVERY` — A chargeback request has been submitted
 * - `RECOVERY_UNSUCCESSFUL` — The chargeback attempt was unsuccessful
 *
 * {% admonition type="warning" %}
 * The status transition diagram may undergo modifications in the future and only covers regular pathways.
 * {% /admonition %}
 *
 * {% img
 *   src="/images/diagrams/dispute-status-flow.png"
 *   alt="Dispute statuses transition diagram"
 * /%}
 */
export class DisputesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DisputesClient.Options>;

    constructor(options: DisputesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the JSON for initiating the dispute flow. Use this endpoint with Wise's
     * [Dynamic Flow framework](https://www.npmjs.com/package/@transferwise/dynamic-flows).
     *
     * The JSON response must be passed into the Dynamic Flow framework, which handles the multi-step dispute submission including the generation of subsequent pages and the creation of the dispute.
     *
     * **Setting up the API**
     *
     * You will need to implement a GET API with the following format:
     * `GET https://{{yourApiUrl}}/v3/spend/profiles/{{profileId}}/dispute-form/flows/step/{{scheme}}/{{reason}}?transactionId={{transactionId}}`
     *
     * This API should forward the call to:
     * `POST https://{{wiseUrl}}/v3/spend/profiles/{{profileId}}/dispute-form/flows/step/{{scheme}}/{{reason}}?transactionId={{transactionId}}`
     *
     * This is required as the dynamic flow returned by Wise will automatically be configured to call your GET API. Use `baseUrl` or `fetcher` as part of the dynamic flow setup to redirect the Dynamic Flow JavaScript library to your domain.
     *
     * For a full integration guide, including example backend implementation and styling, see [Disputes via Dynamic Flow](/guides/product/issue-cards/card-disputes-dynamic-flow).
     *
     * @param {Wise.SubmitStepDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.submitStep({
     *         profileId: BigInt("1000000"),
     *         scheme: "MASTERCARD",
     *         reason: "TROUBLE_WITH_GOODS_SERVICES",
     *         transactionId: "6789",
     *         email: "support@partner.com"
     *     })
     */
    public submitStep(
        request: Wise.SubmitStepDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__submitStep(request, requestOptions));
    }

    private async __submitStep(
        request: Wise.SubmitStepDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { profileId, scheme, reason, transactionId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            transactionId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/dispute-form/flows/step/${core.url.encodePathParam(scheme)}/${core.url.encodePathParam(reason)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/dispute-form/flows/step/{scheme}/{reason}",
        );
    }

    /**
     * Retrieves the list of possible reasons for submitting a dispute.
     *
     * If a reason code has `subOptions`, those should be used as the reason code when submitting disputes.
     *
     * @param {Wise.GetReasonsDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.getReasons({
     *         profileId: BigInt("1000000")
     *     })
     */
    public getReasons(
        request: Wise.GetReasonsDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.DisputeReason[]> {
        return core.HttpResponsePromise.fromPromise(this.__getReasons(request, requestOptions));
    }

    private async __getReasons(
        request: Wise.GetReasonsDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.DisputeReason[]>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/dispute-form/reasons`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.DisputeReason[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/dispute-form/reasons",
        );
    }

    /**
     * Submit a dispute for a card transaction.
     *
     * The request body structure varies per dispute reason code. All reasons share a common structure with `transaction`, `form`, `disclaimer`, and `files` objects, but the fields within `form` and `files` differ per reason.
     *
     * For per-reason request body details, see the [disputes via API guide](/guides/product/issue-cards/card-disputes-api#reason-examples).
     *
     * @param {Wise.SubmitDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.submit({
     *         profileId: BigInt("1000000"),
     *         scheme: "MASTERCARD",
     *         reason: "WRONG_AMOUNT",
     *         transaction: {
     *             transactionId: "12345",
     *             email: "support@partner.com"
     *         },
     *         form: {
     *             "charged": {
     *                 "value": 50,
     *                 "currency": "EUR"
     *             },
     *             "expected": {
     *                 "value": 5,
     *                 "currency": "EUR"
     *             },
     *             "agreedDetails": {
     *                 "agreed": true,
     *                 "agreedReason": "some reason"
     *             },
     *             "goods": "something",
     *             "details": "wrong amount dispute"
     *         },
     *         disclaimer: {
     *             allAnswered: true,
     *             filesUploaded: true
     *         }
     *     })
     */
    public submit(
        request: Wise.SubmitDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: Wise.SubmitDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { profileId, scheme, reason, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/dispute-form/flows/${core.url.encodePathParam(scheme)}/${core.url.encodePathParam(reason)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/dispute-form/flows/{scheme}/{reason}",
        );
    }

    /**
     * Upload a file for use in a dispute submission. Use the returned file ID in the `files` object when submitting a dispute.
     *
     * A dispute referencing the returned file ID must be submitted no later than **two hours** after the file upload, otherwise the file will expire and must be re-uploaded.
     *
     * @param {Wise.UploadFileDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.disputes.uploadFile({
     *         profileId: BigInt("1000000")
     *     })
     */
    public uploadFile(
        request: Wise.UploadFileDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, string>> {
        return core.HttpResponsePromise.fromPromise(this.__uploadFile(request, requestOptions));
    }

    private async __uploadFile(
        request: Wise.UploadFileDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>>> {
        const _body = await core.newFormData();
        if (request.receipt != null) {
            await _body.appendFile("receipt", request.receipt);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(request.profileId)}/dispute-form/file`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/dispute-form/file",
        );
    }

    /**
     * List disputes for a profile with optional filters.
     *
     * @param {Wise.ListDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.list({
     *         profileId: BigInt("1000000")
     *     })
     */
    public list(
        request: Wise.ListDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ListDisputesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.ListDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ListDisputesResponse>> {
        const { profileId, status, transactionId, pageSize, pageNumber } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            transactionId,
            pageSize,
            pageNumber,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/disputes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.ListDisputesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/disputes",
        );
    }

    /**
     * Retrieve a dispute by its ID.
     *
     * @param {Wise.GetDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.get({
     *         profileId: BigInt("1000000"),
     *         disputeId: "51e2dc60-9e4b-4ff5-b917-b90cc5e1ecfb"
     *     })
     */
    public get(
        request: Wise.GetDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Dispute> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Dispute>> {
        const { profileId, disputeId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/disputes/${core.url.encodePathParam(disputeId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Dispute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/disputes/{disputeId}",
        );
    }

    /**
     * Withdraw a dispute by setting its status to `CLOSED`.
     *
     * You can only withdraw a dispute if `canWithdraw` is `true` on the dispute resource.
     *
     * @param {Wise.WithdrawDisputesRequest} request
     * @param {DisputesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.disputes.withdraw({
     *         profileId: BigInt("1000000"),
     *         disputeId: "51e2dc60-9e4b-4ff5-b917-b90cc5e1ecfb",
     *         status: "CLOSED"
     *     })
     */
    public withdraw(
        request: Wise.WithdrawDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Dispute> {
        return core.HttpResponsePromise.fromPromise(this.__withdraw(request, requestOptions));
    }

    private async __withdraw(
        request: Wise.WithdrawDisputesRequest,
        requestOptions?: DisputesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Dispute>> {
        const { profileId, disputeId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/disputes/${core.url.encodePathParam(disputeId)}/status`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Dispute, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/spend/profiles/{profileId}/disputes/{disputeId}/status",
        );
    }
}
