// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace MultiCurrencyAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MultiCurrencyAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MultiCurrencyAccountsClient.Options>;

    constructor(options: MultiCurrencyAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all currencies that are available for balance accounts. This includes those that can have funds added from external accounts, as well as those that a balance can be held in.
     *
     * @param {Wise.GetAvailableCurrenciesMultiCurrencyAccountsRequest} request
     * @param {MultiCurrencyAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.multiCurrencyAccounts.getAvailableCurrencies({
     *         profileId: BigInt("1000000")
     *     })
     */
    public getAvailableCurrencies(
        request: Wise.GetAvailableCurrenciesMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<string[]> {
        return core.HttpResponsePromise.fromPromise(this.__getAvailableCurrencies(request, requestOptions));
    }

    private async __getAvailableCurrencies(
        request: Wise.GetAvailableCurrenciesMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string[]>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `borderless-accounts-configuration/profiles/${core.url.encodePathParam(profileId)}/available-currencies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/borderless-accounts-configuration/profiles/{profileId}/available-currencies",
        );
    }

    /**
     * Lists all currencies available for balance accounts that also support bank account details. You can use this list to create a balance account for the currency included and then subsequently create bank account details.
     *
     * @param {Wise.GetPayinCurrenciesMultiCurrencyAccountsRequest} request
     * @param {MultiCurrencyAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.multiCurrencyAccounts.getPayinCurrencies({
     *         profileId: BigInt("1000000")
     *     })
     */
    public getPayinCurrencies(
        request: Wise.GetPayinCurrenciesMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<string[]> {
        return core.HttpResponsePromise.fromPromise(this.__getPayinCurrencies(request, requestOptions));
    }

    private async __getPayinCurrencies(
        request: Wise.GetPayinCurrenciesMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string[]>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `borderless-accounts-configuration/profiles/${core.url.encodePathParam(profileId)}/payin-currencies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/borderless-accounts-configuration/profiles/{profileId}/payin-currencies",
        );
    }

    /**
     * Returns the multi-currency account details for the specified profile. If the user does not yet have a multi-currency account, a `404 Not Found` will be returned.
     *
     * @param {Wise.GetMultiCurrencyAccountsRequest} request
     * @param {MultiCurrencyAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.multiCurrencyAccounts.get({
     *         profileId: BigInt("1000000")
     *     })
     */
    public get(
        request: Wise.GetMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetMultiCurrencyAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetMultiCurrencyAccountsRequest,
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetMultiCurrencyAccountsResponse>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/multi-currency-account`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetMultiCurrencyAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/multi-currency-account",
        );
    }

    /**
     * Checks eligibility for a multi-currency account for either a specific profile or for a location. Customers in some countries and states/provinces may not be eligible for a multi currency account.
     *
     * To check a profile, pass the `profileId` as a query parameter.
     *
     * To check a specific location, pass the `country` using 2-letter ISO 3166 codes. If the country is `US`, a valid 2-letter `state` parameter must also be passed.
     *
     * - Example (France): `/v4/multi-currency-account/eligibility?country=FR`
     * - Example (USA, California): `/v4/multi-currency-account/eligibility?country=US&state=CA`
     *
     * @param {Wise.GetEligibilityMultiCurrencyAccountsRequest} request
     * @param {MultiCurrencyAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.multiCurrencyAccounts.getEligibility({
     *         country: "FR",
     *         state: "CA"
     *     })
     */
    public getEligibility(
        request: Wise.GetEligibilityMultiCurrencyAccountsRequest = {},
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetEligibilityMultiCurrencyAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEligibility(request, requestOptions));
    }

    private async __getEligibility(
        request: Wise.GetEligibilityMultiCurrencyAccountsRequest = {},
        requestOptions?: MultiCurrencyAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetEligibilityMultiCurrencyAccountsResponse>> {
        const { profileId, country, state } = request;
        const _queryParams: Record<string, unknown> = {
            profileId,
            country,
            state,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                "multi-currency-account/eligibility",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetEligibilityMultiCurrencyAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/multi-currency-account/eligibility",
        );
    }
}
