// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace ThreeDsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ThreeDsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ThreeDsClient.Options>;

    constructor(options: ThreeDsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Once the customer has accepted or rejected the push notification for a 3DS challenge, use this endpoint to notify Wise of the result.
     *
     * You must call this endpoint before the expiration time (provided in the [3DS challenge webhook event](/api-reference/webhook-event/eventcards3dschallenge)), otherwise it will return a 400 error.
     *
     * Only the first call to this endpoint is processed. Any subsequent duplicate requests are ignored, although you still receive a success response.
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.ChallengeResultRequest} request
     * @param {ThreeDsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.threeDs.submitResult({
     *         profileId: BigInt("1000000"),
     *         transactionReference: "148579538",
     *         challengeStatus: "APPROVED"
     *     })
     */
    public submitResult(
        request: Wise.ChallengeResultRequest,
        requestOptions?: ThreeDsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__submitResult(request, requestOptions));
    }

    private async __submitResult(
        request: Wise.ChallengeResultRequest,
        requestOptions?: ThreeDsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/3dsecure/challenge-result`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/3dsecure/challenge-result",
        );
    }
}
