// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace PayinsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The payin APIs allow you to fund the MCA or transfers with local payment rails, by retrieving or creating the relevant details to send to for funding a payment.
 *
 * These details will be provided in the local format for that currency, and also includes the name and address of the receiving bank.
 */
export class PayinsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PayinsClient.Options>;

    constructor(options: PayinsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates the encoded QR code and details for the payin session so the user can fund a transfer or balance top-up via a PayNow transaction.
     * This operation supports the SGD currency only.
     *
     * @param {Wise.CreatePaynowPayinsRequest} request
     * @param {PayinsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.payins.createPaynow({
     *         profileId: BigInt("1000000"),
     *         payinSessionId: "payinSessionId"
     *     })
     */
    public createPaynow(
        request: Wise.CreatePaynowPayinsRequest,
        requestOptions?: PayinsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreatePaynowPayinsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaynow(request, requestOptions));
    }

    private async __createPaynow(
        request: Wise.CreatePaynowPayinsRequest,
        requestOptions?: PayinsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreatePaynowPayinsResponse>> {
        const { profileId, payinSessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/payin-sessions/${core.url.encodePathParam(payinSessionId)}/paynow`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.CreatePaynowPayinsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/payin-sessions/{payinSessionId}/paynow",
        );
    }
}
