// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace ThirdPartyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ThirdPartyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ThirdPartyClient.Options>;

    constructor(options: ThirdPartyClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     *
     *     When creating a transfer on behalf of a third party, you must take note that:
     *
     *     * The `originator` datablock is **required**. This details the ultimate sender of funds in the transfer.
     *     * Depending on the legal entity type of the originator (`PRIVATE` or `BUSINESS`), the required fields vary. Please refer the sample request examples.
     *     * `OriginalTransferId` field must be used. This is your own ID for the transfer.
     *
     *     You need to save the transfer ID for tracking its status later via webhooks.
     *
     *     #### Avoiding duplicate transfers
     *
     *     The `originalTransferId` field is used to avoid duplicate transfer requests. If your initial call fails (error or timeout), retry the call using the same `originalTransferId` value. Subsequent retry messages are treated as repeat messages and will not create duplicate transfers.
     *
     * @param {Wise.transfers.CreateThirdPartyTransferRequestContent} request
     * @param {ThirdPartyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.transfers.thirdParty.create({
     *         profileId: BigInt("123456789"),
     *         originalTransferId: "4711",
     *         targetAccount: BigInt("7839323"),
     *         quote: "3522e360-356a-4e37-9f99-94a21898d8fa",
     *         details: {
     *             reference: "Ski trip"
     *         },
     *         originator: {
     *             legalEntityType: "PRIVATE",
     *             reference: "CST-2991992",
     *             name: {},
     *             dateOfBirth: "1977-07-01",
     *             address: {
     *                 firstLine: "Salu tee 14",
     *                 countryCode: "EE"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.transfers.thirdParty.create({
     *         profileId: BigInt("123456789"),
     *         originalTransferId: "4711",
     *         targetAccount: BigInt("7839323"),
     *         quote: "3522e360-356a-4e37-9f99-94a21898d8fa",
     *         details: {
     *             reference: "Ski trip"
     *         },
     *         originator: {
     *             legalEntityType: "BUSINESS",
     *             reference: "CST-2991992",
     *             name: {},
     *             address: {
     *                 firstLine: "Salu tee 14",
     *                 countryCode: "EE"
     *             }
     *         }
     *     })
     */
    public create(
        request: Wise.transfers.CreateThirdPartyTransferRequestContent,
        requestOptions?: ThirdPartyClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreateThirdPartyTransferResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.transfers.CreateThirdPartyTransferRequestContent,
        requestOptions?: ThirdPartyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreateThirdPartyTransferResponseContent>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/third-party-transfers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.CreateThirdPartyTransferResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/third-party-transfers",
        );
    }

    /**
     *
     *     Get third party transfer info by ID. To receive dynamic updates as the state of the transfer changes, see the [webhooks documentation](https://docs.wise.com/api-reference/webhook).
     *
     * @param {Wise.transfers.GetThirdPartyRequest} request
     * @param {ThirdPartyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.transfers.thirdParty.get({
     *         profileId: BigInt("123456789"),
     *         transferId: BigInt("16521632")
     *     })
     */
    public get(
        request: Wise.transfers.GetThirdPartyRequest,
        requestOptions?: ThirdPartyClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetThirdPartyTransferResponseContent> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.transfers.GetThirdPartyRequest,
        requestOptions?: ThirdPartyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetThirdPartyTransferResponseContent>> {
        const { profileId, transferId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/third-party-transfers/${core.url.encodePathParam(transferId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetThirdPartyTransferResponseContent,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/profiles/{profileId}/third-party-transfers/{transferId}",
        );
    }
}
