// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace DeviceFingerprintsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeviceFingerprintsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeviceFingerprintsClient.Options>;

    constructor(options: DeviceFingerprintsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new device fingerprint factor used to resolve a SCA possession challenge type.
     *
     * The request and response are encrypted using the JOSE framework. Please refer to the [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to understand how encryption and decryption work.
     *
     * @param {Wise.sca.CreateDeviceFingerprintsRequest} request
     * @param {DeviceFingerprintsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.ConflictError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.deviceFingerprints.create({
     *         profileId: BigInt("1000000"),
     *         body: "<JWE encrypted string>"
     *     })
     */
    public create(
        request: Wise.sca.CreateDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.sca.CreateDeviceFingerprintsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.sca.CreateDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.sca.CreateDeviceFingerprintsResponse>> {
        const { profileId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                Accept: "application/jose+json",
                "Accept-Encoding": "identity",
                "Content-Encoding": "identity",
                "X-tw-jose-method": "jwe",
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/device-fingerprints`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/jose+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.sca.CreateDeviceFingerprintsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Wise.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/device-fingerprints",
        );
    }

    /**
     * Verifies a device fingerprint challenge when calling a SCA-secured endpoint. Make sure to [create a device fingerprint](/api-reference/sca-device-fingerprints/scadevicefingerprintcreate) before using this endpoint.
     *
     * The request and response are encrypted using the JOSE framework. Please refer to the [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to understand how encryption and decryption work.
     *
     * @param {Wise.sca.VerifyDeviceFingerprintsRequest} request
     * @param {DeviceFingerprintsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.deviceFingerprints.verify({
     *         "One-Time-Token": "One-Time-Token",
     *         profileId: BigInt("1000000"),
     *         body: "<JWE encrypted string>"
     *     })
     */
    public verify(
        request: Wise.sca.VerifyDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.OneTimeToken> {
        return core.HttpResponsePromise.fromPromise(this.__verify(request, requestOptions));
    }

    private async __verify(
        request: Wise.sca.VerifyDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.OneTimeToken>> {
        const { profileId, "One-Time-Token": oneTimeToken, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "One-Time-Token": oneTimeToken,
                Accept: "application/jose+json",
                "Accept-Encoding": "identity",
                "Content-Encoding": "identity",
                "X-tw-jose-method": "jwe",
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/device-fingerprints/verify`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/jose+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.OneTimeToken, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/device-fingerprints/verify",
        );
    }

    /**
     * Deletes a device fingerprint associated to a profile. Include the `deviceFingerprintId` in the URL to delete a device fingerprint. This ID is provided in the response when the device fingerprint is created.
     *
     * {% admonition type="warning" %}
     * This operation is irreversible.
     * {% /admonition %}
     *
     * @param {Wise.sca.DeleteDeviceFingerprintsRequest} request
     * @param {DeviceFingerprintsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.sca.deviceFingerprints.delete({
     *         profileId: BigInt("1000000"),
     *         deviceFingerprintId: "deviceFingerprintId"
     *     })
     */
    public delete(
        request: Wise.sca.DeleteDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wise.sca.DeleteDeviceFingerprintsRequest,
        requestOptions?: DeviceFingerprintsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, deviceFingerprintId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/device-fingerprints/${core.url.encodePathParam(deviceFingerprintId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/profiles/{profileId}/device-fingerprints/{deviceFingerprintId}",
        );
    }
}
