// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";
import { KioskClient } from "../resources/kiosk/client/Client.js";
import { OrdersClient } from "../resources/orders/client/Client.js";
import { SensitiveDetailsClient } from "../resources/sensitiveDetails/client/Client.js";
import { TransactionsClient } from "../resources/transactions/client/Client.js";

export declare namespace CardsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CardsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CardsClient.Options>;
    protected _sensitiveDetails: SensitiveDetailsClient | undefined;
    protected _kiosk: KioskClient | undefined;
    protected _orders: OrdersClient | undefined;
    protected _transactions: TransactionsClient | undefined;

    constructor(options: CardsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get sensitiveDetails(): SensitiveDetailsClient {
        return (this._sensitiveDetails ??= new SensitiveDetailsClient(this._options));
    }

    public get kiosk(): KioskClient {
        return (this._kiosk ??= new KioskClient(this._options));
    }

    public get orders(): OrdersClient {
        return (this._orders ??= new OrdersClient(this._options));
    }

    public get transactions(): TransactionsClient {
        return (this._transactions ??= new TransactionsClient(this._options));
    }

    /**
     * Returns a paginated list of cards that belong to a specific profile.
     *
     * @param {Wise.ListCardsRequest} request
     * @param {CardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.list({
     *         profileId: BigInt("1000000")
     *     })
     */
    public list(
        request: Wise.ListCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ListCardsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.ListCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ListCardsResponse>> {
        const { profileId, pageSize, pageNumber } = request;
        const _queryParams: Record<string, unknown> = {
            pageSize,
            pageNumber,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.ListCardsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/cards",
        );
    }

    /**
     * Retrieves details for a specific card by its token.
     *
     * @param {Wise.GetCardsRequest} request
     * @param {CardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.get({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52"
     *     })
     */
    public get(
        request: Wise.GetCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Card> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Card>> {
        const { profileId, cardToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Card, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spend/profiles/{profileId}/cards/{cardToken}",
        );
    }

    /**
     * Update the status of a card. For cards issued with an `INACTIVE` status, updating to `ACTIVE` will activate the card and move the card order status to `COMPLETED`.
     *
     * **Available status transitions:**
     * - `ACTIVE` - The card is active and usable
     * - `FROZEN` - The card is temporarily frozen; all authorization requests will be declined
     * - `BLOCKED` - The card is **irreversibly** blocked and is no longer usable
     *
     * @param {Wise.UpdateStatusCardsRequest} request
     * @param {CardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.updateStatus({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52",
     *         status: "ACTIVE"
     *     })
     */
    public updateStatus(
        request: Wise.UpdateStatusCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Card> {
        return core.HttpResponsePromise.fromPromise(this.__updateStatus(request, requestOptions));
    }

    private async __updateStatus(
        request: Wise.UpdateStatusCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Card>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/status`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Card, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/spend/profiles/{profileId}/cards/{cardToken}/status",
        );
    }

    /**
     * If the wrong PIN has been entered more than 3 times, future transactions on the card will be blocked with a `PIN_ENTRY_TRIES_EXCEEDED` error message.
     *
     * Use this endpoint to reset the PIN count to 0 and unblock transactions.
     *
     * {% admonition type="info" %}
     * In some cases, you may also need to reset the PIN count directly at the ATM.
     * {% /admonition %}
     *
     * @param {Wise.ResetPinAttemptsCardsRequest} request
     * @param {CardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.resetPinAttempts({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52"
     *     })
     */
    public resetPinAttempts(
        request: Wise.ResetPinAttemptsCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__resetPinAttempts(request, requestOptions));
    }

    private async __resetPinAttempts(
        request: Wise.ResetPinAttemptsCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, cardToken } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/reset-pin-count`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/cards/{cardToken}/reset-pin-count",
        );
    }

    /**
     * Enable or disable multiple spending permissions on a card in a single request.
     *
     * This is the recommended endpoint for updating card permissions as it allows updating multiple permissions atomically.
     *
     * @param {Wise.UpdatePermissionsCardsRequest} request
     * @param {CardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnprocessableEntityError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.updatePermissions({
     *         profileId: BigInt("1000000"),
     *         cardToken: "ca0c8154-1e14-4464-a1ce-dcea7dc3de52",
     *         permissions: [{
     *                 type: "ECOM",
     *                 isEnabled: true
     *             }, {
     *                 type: "POS_CHIP",
     *                 isEnabled: true
     *             }]
     *     })
     */
    public updatePermissions(
        request: Wise.UpdatePermissionsCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updatePermissions(request, requestOptions));
    }

    private async __updatePermissions(
        request: Wise.UpdatePermissionsCardsRequest,
        requestOptions?: CardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/spending-permissions`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wise.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/spend/profiles/{profileId}/cards/{cardToken}/spending-permissions",
        );
    }
}
