// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace LinkRequestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinkRequestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LinkRequestsClient.Options>;

    constructor(options: LinkRequestsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a link that allows a user to complete a recipient creation flow via either a redirect or embedded iframe/webview.
     *
     * View [Embedded Flows - Recipient Creation](/guides/product/embedded-flows/flows/recipient-creation) to see what data the frontend is returned upon flow completion.
     *
     * @param {Wise.CreateRecipientLinkRequestsRequest} request
     * @param {LinkRequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnauthorizedError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.linkRequests.createRecipient({
     *         profileId: BigInt("1000000"),
     *         redirectUrl: "https://example.com/return",
     *         targetCurrency: "USD"
     *     })
     */
    public createRecipient(
        request: Wise.CreateRecipientLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreateRecipientLinkRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createRecipient(request, requestOptions));
    }

    private async __createRecipient(
        request: Wise.CreateRecipientLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreateRecipientLinkRequestsResponse>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/embedded-flows/link-requests/recipients`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.CreateRecipientLinkRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wise.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/embedded-flows/link-requests/recipients",
        );
    }

    /**
     * Returns a link that allows a user to complete a payment instrument flow via either a redirect or embedded iframe/webview.
     *
     * View [Embedded Flows - Payment Instruments](/guides/product/embedded-flows/flows/payment-instrument) to see what data the frontend is returned upon flow completion.
     *
     * @param {Wise.CreatePaymentInstrumentLinkRequestsRequest} request
     * @param {LinkRequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnauthorizedError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.linkRequests.createPaymentInstrument({
     *         profileId: BigInt("1000000"),
     *         redirectUrl: "https://example.com/return",
     *         method: "BACS"
     *     })
     */
    public createPaymentInstrument(
        request: Wise.CreatePaymentInstrumentLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreatePaymentInstrumentLinkRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentInstrument(request, requestOptions));
    }

    private async __createPaymentInstrument(
        request: Wise.CreatePaymentInstrumentLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreatePaymentInstrumentLinkRequestsResponse>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/embedded-flows/link-requests/payment-instrument`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.CreatePaymentInstrumentLinkRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wise.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/embedded-flows/link-requests/payment-instrument",
        );
    }

    /**
     * Returns a link that allows a user to complete a KYC review flow via either a redirect or embedded iframe/webview.
     *
     * View [Embedded Flows - KYC Review](/guides/product/embedded-flows/flows/kyc-reviews) to see what data the frontend is returned upon flow completion.
     *
     * @param {Wise.CreateKycReviewLinkRequestsRequest} request
     * @param {LinkRequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.UnauthorizedError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.linkRequests.createKycReview({
     *         profileId: BigInt("1000000"),
     *         redirectUrl: "https://example.com/return",
     *         kycReviewId: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
     *     })
     */
    public createKycReview(
        request: Wise.CreateKycReviewLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.CreateKycReviewLinkRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createKycReview(request, requestOptions));
    }

    private async __createKycReview(
        request: Wise.CreateKycReviewLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.CreateKycReviewLinkRequestsResponse>> {
        const { profileId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/embedded-flows/link-requests/kyc-reviews`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.CreateKycReviewLinkRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wise.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/profiles/{profileId}/embedded-flows/link-requests/kyc-reviews",
        );
    }

    /**
     * Retrieves an Embedded Flow configuration by embedded link request ID. Typically this is not needed to be called as its used by the flow itself.
     *
     * Embedded Flows uses this endpoint to load the configuration for a previously created link request. For an example flow, see the [Embedded Flows guide](/guides/product/embedded-flows/index.md#hosted-recipient-creation-flow).
     *
     * @param {Wise.GetLinkRequestsRequest} request
     * @param {LinkRequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.UnauthorizedError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.linkRequests.get({
     *         embeddedLinkRequestId: "ea5eb6ca-3af7-4e88-a2e2-6a68dd92f198"
     *     })
     */
    public get(
        request: Wise.GetLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetLinkRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.GetLinkRequestsRequest,
        requestOptions?: LinkRequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetLinkRequestsResponse>> {
        const { embeddedLinkRequestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `embedded-flows/link-requests/${core.url.encodePathParam(embeddedLinkRequestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.GetLinkRequestsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wise.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/embedded-flows/link-requests/{embeddedLinkRequestId}",
        );
    }
}
