// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace SensitiveDetailsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SensitiveDetailsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SensitiveDetailsClient.Options>;

    constructor(options: SensitiveDetailsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetches Wise's RSA public key required for encrypting sensitive card data requests.
     *
     * This key is used in the [sensitive card details flow](/guides/product/issue-cards/sensitive-card-details) to create JWE (JSON Web Encryption) payloads.
     *
     * @param {SensitiveDetailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.sensitiveDetails.getEncryptionKey()
     */
    public getEncryptionKey(
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.cards.GetEncryptionKeySensitiveDetailsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEncryptionKey(requestOptions));
    }

    private async __getEncryptionKey(
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.cards.GetEncryptionKeySensitiveDetailsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/clientSideEncryption/fetchEncryptingKey",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.cards.GetEncryptionKeySensitiveDetailsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/twcard-data/v1/clientSideEncryption/fetchEncryptingKey",
        );
    }

    /**
     * Fetches the card's Primary Account Number (PAN), security code (CVV2), expiry date, and cardholder name.
     *
     * Requires an encrypted JWE payload for security. See the [sensitive card details guide](/guides/product/issue-cards/sensitive-card-details) for implementation details.
     *
     * To retrieve sensitive card details, the card must be in either `ACTIVE` or `FROZEN` status. A 403 response is returned for cards in any other status.
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.cards.GetSensitiveDetailsRequest} request
     * @param {SensitiveDetailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.sensitiveDetails.get({
     *         "x-tw-twcard-card-token": "ca0c8154-1e14-4464-a1ce-dcea7dc3de52",
     *         keyVersion: 1,
     *         encryptedPayload: "<your JWE>"
     *     })
     */
    public get(
        request: Wise.cards.GetSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.cards.GetSensitiveDetailsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.cards.GetSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.cards.GetSensitiveDetailsResponse>> {
        const { "x-tw-twcard-card-token": twTwcardCardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-tw-twcard-card-token": twTwcardCardToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/sensitive-card-data/details",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.cards.GetSensitiveDetailsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/twcard-data/v1/sensitive-card-data/details",
        );
    }

    /**
     * Fetches the card's PIN.
     *
     * Requires an encrypted JWE payload for security. See the [sensitive card details guide](/guides/product/issue-cards/sensitive-card-details) for implementation details.
     *
     * {% admonition type="warning" name="SCA protected endpoint" %}
     * This endpoint is SCA protected. SCA requirements apply to profiles registered outside of the following regions: US, AU, NZ, SG, CA, MY.
     *
     * Review the [Strong Customer Authentication guide](/guides/developer/auth-and-security/sca-and-2fa) for more details.
     * {% /admonition %}
     *
     * @param {Wise.cards.GetPinSensitiveDetailsRequest} request
     * @param {SensitiveDetailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.sensitiveDetails.getPin({
     *         "x-tw-twcard-card-token": "ca0c8154-1e14-4464-a1ce-dcea7dc3de52",
     *         keyVersion: 1,
     *         encryptedPayload: "<your JWE>"
     *     })
     */
    public getPin(
        request: Wise.cards.GetPinSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.cards.GetPinSensitiveDetailsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPin(request, requestOptions));
    }

    private async __getPin(
        request: Wise.cards.GetPinSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.cards.GetPinSensitiveDetailsResponse>> {
        const { "x-tw-twcard-card-token": twTwcardCardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-tw-twcard-card-token": twTwcardCardToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/sensitive-card-data/pin",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.cards.GetPinSensitiveDetailsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/twcard-data/v1/sensitive-card-data/pin",
        );
    }

    /**
     * Sets a PIN during the card order flow. This endpoint will be accessible for partners that require to set a PIN during the card order flow.
     *
     * Please follow [this guide](/guides/product/issue-cards/sensitive-card-details) to use this endpoint.
     *
     * To use this endpoint, make sure to set the `api token` and the `card order id` in the headers.
     *
     * @param {Wise.cards.PresetPinSensitiveDetailsRequest} request
     * @param {SensitiveDetailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.cards.sensitiveDetails.presetPin({
     *         "x-tw-twcard-order-id": "twTwcardOrderId",
     *         keyVersion: 1,
     *         encryptedPayload: "encryptedPayload"
     *     })
     */
    public presetPin(
        request: Wise.cards.PresetPinSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__presetPin(request, requestOptions));
    }

    private async __presetPin(
        request: Wise.cards.PresetPinSensitiveDetailsRequest,
        requestOptions?: SensitiveDetailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { "x-tw-twcard-order-id": twTwcardOrderId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-tw-twcard-order-id": twTwcardOrderId,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/sensitive-card-data/preset-pin",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/twcard-data/v1/sensitive-card-data/preset-pin",
        );
    }
}
