// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace ApplicationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApplicationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationsClient.Options>;

    constructor(options: ApplicationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all webhook subscriptions for your application.
     *
     * @param {Wise.webhooks.ListApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.webhooks.applications.list({
     *         clientKey: "clientKey"
     *     })
     */
    public list(
        request: Wise.webhooks.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Subscription[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.webhooks.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Subscription[]>> {
        const { clientKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `applications/${core.url.encodePathParam(clientKey)}/subscriptions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Subscription[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/applications/{clientKey}/subscriptions",
        );
    }

    /**
     * Create a webhook subscription at the application level.
     *
     * `clientKey` can be received upon obtaining client credentials from our tech support.
     *
     * @param {Wise.webhooks.CreateApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.webhooks.applications.create({
     *         clientKey: "clientKey",
     *         name: "Webhook Subscription #1",
     *         trigger_on: "transfers#state-change",
     *         delivery: {
     *             version: "4.0.0",
     *             url: "https://your.webhook.url/12345"
     *         }
     *     })
     */
    public create(
        request: Wise.webhooks.CreateApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Subscription> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.webhooks.CreateApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Subscription>> {
        const { clientKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `applications/${core.url.encodePathParam(clientKey)}/subscriptions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Subscription, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{clientKey}/subscriptions",
        );
    }

    /**
     * Retrieve an application webhook subscription by its identifier.
     *
     * @param {Wise.webhooks.GetApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.webhooks.applications.get({
     *         clientKey: "clientKey",
     *         subscriptionId: "subscriptionId"
     *     })
     */
    public get(
        request: Wise.webhooks.GetApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Subscription> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wise.webhooks.GetApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Subscription>> {
        const { clientKey, subscriptionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `applications/${core.url.encodePathParam(clientKey)}/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Subscription, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/applications/{clientKey}/subscriptions/{subscriptionId}",
        );
    }

    /**
     * Delete an application webhook subscription by its identifier.
     *
     * @param {Wise.webhooks.DeleteApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.webhooks.applications.delete({
     *         clientKey: "clientKey",
     *         subscriptionId: "subscriptionId"
     *     })
     */
    public delete(
        request: Wise.webhooks.DeleteApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wise.webhooks.DeleteApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { clientKey, subscriptionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `applications/${core.url.encodePathParam(clientKey)}/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/applications/{clientKey}/subscriptions/{subscriptionId}",
        );
    }

    /**
     * Generate test notifications for an existing application subscription.
     *
     * Test notifications will have the correct structure for their source subscription's event type and version, and will contain "dummy" data. These data include random UUIDs, entity IDs of zero, current dates and times, and hard-coded status codes.
     *
     * Test notifications are delivered with the usual notification HTTP request headers, including a unique delivery ID for the notification, and a "test notification" flag set to true. You can check for the presence of this test flag to determine that an incoming notification is a test notification which should not be processed as real data. See the section [Event HTTP requests](/guides/developer/webhooks/event-handling#requests) for more information on request headers.
     *
     * When test notifications are created with the API, they are queued for sending in the same way as non-test notifications. This means that there may be some delay in notification delivery, and delivery failures will result in attempts to redeliver the notification later. The API returns the delivery IDs of the notifications that have been successfully queued for sending, which can be correlated with the delivery ID header values for notifications you later receive.
     *
     * {% admonition type="info" %}
     * This test notification API is only available for application-based subscriptions. Profile-based subscriptions do not currently support this testing feature.
     * {% /admonition %}
     *
     * @param {Wise.webhooks.TestApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.webhooks.applications.test({
     *         clientKey: "clientKey",
     *         subscriptionId: "subscriptionId"
     *     })
     */
    public test(
        request: Wise.webhooks.TestApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.TestNotification[]> {
        return core.HttpResponsePromise.fromPromise(this.__test(request, requestOptions));
    }

    private async __test(
        request: Wise.webhooks.TestApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.TestNotification[]>> {
        const { clientKey, subscriptionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `applications/${core.url.encodePathParam(clientKey)}/subscriptions/${core.url.encodePathParam(subscriptionId)}/test-notifications`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.TestNotification[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{clientKey}/subscriptions/{subscriptionId}/test-notifications",
        );
    }
}
