// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wise from "../../../../../index.js";

export declare namespace BeneficialOwnersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BeneficialOwnersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BeneficialOwnersClient.Options>;

    constructor(options: BeneficialOwnersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the list of all ultimate beneficial owners associated with the business profile.
     *
     * @param {Wise.profiles.ListBeneficialOwnersRequest} request
     * @param {BeneficialOwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.profiles.beneficialOwners.list({
     *         profileId: BigInt("1000000")
     *     })
     */
    public list(
        request: Wise.profiles.ListBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Ubo[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wise.profiles.ListBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Ubo[]>> {
        const { profileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/ubos`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Ubo[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/profiles/{profileId}/ubos");
    }

    /**
     * Adds new ultimate beneficial owners to the business profile.
     *
     * Returns the list of all ultimate beneficial owners associated with the business profile.
     *
     * All the shareholders that have at least 25% ownership should be submitted via this API.
     *
     * Note that in some cases, we do not require the `ownershipPercentage`. In these cases, `null` should be passed as the value.
     *
     * @param {Wise.profiles.CreateBeneficialOwnersRequest} request
     * @param {BeneficialOwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.profiles.beneficialOwners.create({
     *         profileId: BigInt("1000000"),
     *         body: [{
     *                 name: "John Doe",
     *                 dateOfBirth: "1982-05-20",
     *                 countryOfResidenceIso3Code: "usa",
     *                 addressFirstLine: "123 Fake St",
     *                 postCode: "FK 12345",
     *                 ownershipPercentage: 30
     *             }, {
     *                 name: "Jane Doe",
     *                 dateOfBirth: "1981-12-07",
     *                 countryOfResidenceIso3Code: "usa",
     *                 addressFirstLine: "125 Fake St",
     *                 postCode: "FK 12545",
     *                 ownershipPercentage: 70
     *             }]
     *     })
     */
    public create(
        request: Wise.profiles.CreateBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Ubo[]> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wise.profiles.CreateBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Ubo[]>> {
        const { profileId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/ubos`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Ubo[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/profiles/{profileId}/ubos");
    }

    /**
     * Overrides ultimate beneficial owners in the business profile.
     *
     * Returns the list of all ultimate beneficial owners associated with the business profile.
     *
     * @param {Wise.profiles.UpdateBeneficialOwnersRequest} request
     * @param {BeneficialOwnersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.profiles.beneficialOwners.update({
     *         profileId: BigInt("1000000"),
     *         body: [{
     *                 name: "John Doe",
     *                 dateOfBirth: "1982-05-20",
     *                 countryOfResidenceIso3Code: "usa",
     *                 addressFirstLine: "123 Fake St",
     *                 postCode: "FK 12345",
     *                 ownershipPercentage: 30
     *             }, {
     *                 name: "Jane Doe",
     *                 dateOfBirth: "1981-12-07",
     *                 countryOfResidenceIso3Code: "usa",
     *                 addressFirstLine: "125 Fake St",
     *                 postCode: "FK 12545",
     *                 ownershipPercentage: 70
     *             }]
     *     })
     */
    public update(
        request: Wise.profiles.UpdateBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.Ubo[]> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Wise.profiles.UpdateBeneficialOwnersRequest,
        requestOptions?: BeneficialOwnersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.Ubo[]>> {
        const { profileId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `profiles/${core.url.encodePathParam(profileId)}/ubos`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wise.Ubo[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/profiles/{profileId}/ubos");
    }
}
