// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wise from "../../../index.js";

export declare namespace DigitalWalletsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DigitalWalletsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DigitalWalletsClient.Options>;

    constructor(options: DigitalWalletsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * You have the option to obtain the payment tokens associated with a card, which can assist in determining if it's already linked to a specific wallet.
     * Note that the payment token status associated with the card may not be accurate (for example, after a phone factory reset).
     * Therefore, it's advisable to consistently check the wallet instance for the most up-to-date token status.
     *
     * @param {Wise.ListPaymentTokensDigitalWalletsRequest} request
     * @param {DigitalWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.digitalWallets.listPaymentTokens({
     *         profileId: BigInt("1000000"),
     *         cardToken: "a3f90c98-1cd1-4488-9050-2e32c696f8fa"
     *     })
     */
    public listPaymentTokens(
        request: Wise.ListPaymentTokensDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.ListPaymentTokensDigitalWalletsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPaymentTokens(request, requestOptions));
    }

    private async __listPaymentTokens(
        request: Wise.ListPaymentTokensDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.ListPaymentTokensDigitalWalletsResponse>> {
        const { profileId, cardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/payment-tokens`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.ListPaymentTokensDigitalWalletsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/cards/{cardToken}/payment-tokens",
        );
    }

    /**
     * This endpoint activates the payment token for a card that has been manually added to a wallet provider. Please read this [guide](/guides/product/issue-cards/card-digital-wallet.md) before implementing this API.
     * {% admonition type="warning" %}
     * This API is not available for sandbox testing.
     * {% /admonition %}
     *
     * @param {Wise.ActivatePaymentTokenDigitalWalletsRequest} request
     * @param {DigitalWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.BadRequestError}
     * @throws {@link Wise.ForbiddenError}
     * @throws {@link Wise.NotFoundError}
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link Wise.InternalServerError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.digitalWallets.activatePaymentToken({
     *         profileId: BigInt("1000000"),
     *         cardToken: "a3f90c98-1cd1-4488-9050-2e32c696f8fa",
     *         paymentTokenUniqueReference: "DNITHE382607223583426199",
     *         activation: "APPROVE"
     *     })
     */
    public activatePaymentToken(
        request: Wise.ActivatePaymentTokenDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__activatePaymentToken(request, requestOptions));
    }

    private async __activatePaymentToken(
        request: Wise.ActivatePaymentTokenDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { profileId, cardToken, paymentTokenUniqueReference, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).api,
                `spend/profiles/${core.url.encodePathParam(profileId)}/cards/${core.url.encodePathParam(cardToken)}/payment-tokens/${core.url.encodePathParam(paymentTokenUniqueReference)}/activation`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wise.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wise.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wise.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Wise.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spend/profiles/{profileId}/cards/{cardToken}/payment-tokens/{paymentTokenUniqueReference}/activation",
        );
    }

    /**
     * Returns encrypted cardholder information and other metadata needed for Google Pay push provisioning.
     *
     * {% admonition type="warning" %}
     * This API is not available for sandbox testing.
     * {% /admonition %}
     *
     * @param {Wise.GetGooglePayPayloadDigitalWalletsRequest} request
     * @param {DigitalWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.digitalWallets.getGooglePayPayload({
     *         "x-tw-twcard-card-token": "a3f90c98-1cd1-4488-9050-2e32c696f8fa",
     *         clientDeviceId: "ed6abb56323ba656521ac476",
     *         clientWalletAccountId: "walletid"
     *     })
     */
    public getGooglePayPayload(
        request: Wise.GetGooglePayPayloadDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetGooglePayPayloadDigitalWalletsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getGooglePayPayload(request, requestOptions));
    }

    private async __getGooglePayPayload(
        request: Wise.GetGooglePayPayloadDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetGooglePayPayloadDigitalWalletsResponse>> {
        const { "x-tw-twcard-card-token": twTwcardCardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-tw-twcard-card-token": twTwcardCardToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/push-provisioning/encrypted-payload/google-pay",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetGooglePayPayloadDigitalWalletsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/twcard-data/v1/push-provisioning/encrypted-payload/google-pay",
        );
    }

    /**
     * Returns encrypted cardholder information and other metadata needed for Apple Pay push provisioning.
     *
     * {% admonition type="warning" %}
     * This API is not available for sandbox testing.
     * {% /admonition %}
     *
     * @param {Wise.GetApplePayPayloadDigitalWalletsRequest} request
     * @param {DigitalWalletsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wise.TooManyRequestsError}
     * @throws {@link errors.WiseError}
     * @throws {@link errors.WiseTimeoutError}
     *
     * @example
     *     await client.digitalWallets.getApplePayPayload({
     *         "x-tw-twcard-card-token": "a3f90c98-1cd1-4488-9050-2e32c696f8fa",
     *         certificates: ["MIICpTCCAkqgAwIBAgIIB...", "MIICpTCCAYmgAwIBAgIIX..."],
     *         nonce: "a1b2c3d4e5f6",
     *         nonceSignature: "f6e5d4c3b2a1"
     *     })
     */
    public getApplePayPayload(
        request: Wise.GetApplePayPayloadDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): core.HttpResponsePromise<Wise.GetApplePayPayloadDigitalWalletsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getApplePayPayload(request, requestOptions));
    }

    private async __getApplePayPayload(
        request: Wise.GetApplePayPayloadDigitalWalletsRequest,
        requestOptions?: DigitalWalletsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wise.GetApplePayPayloadDigitalWalletsResponse>> {
        const { "x-tw-twcard-card-token": twTwcardCardToken, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-tw-twcard-card-token": twTwcardCardToken,
                "X-External-Correlation-Id":
                    requestOptions?.externalCorrelationId ?? this._options?.externalCorrelationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).cards,
                "twcard-data/v1/push-provisioning/encrypted-payload/apple-pay",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wise.GetApplePayPayloadDigitalWalletsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 429:
                    throw new Wise.TooManyRequestsError(
                        _response.error.body as Record<string, unknown>,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WiseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/twcard-data/v1/push-provisioning/encrypted-payload/apple-pay",
        );
    }
}
